flows.json
[
    {
        "id": "16ef74d2.7e23eb",
        "type": "tab",
        "label": "Array Information",
        "disabled": false,
        "info": ""
    },
    {
        "id": "81772a63.4aa448",
        "type": "tab",
        "label": "Sensor Status",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a549a211.0aca8",
        "type": "tab",
        "label": "System",
        "disabled": false,
        "info": ""
    },
    {
        "id": "993a6adb.6bd208",
        "type": "tab",
        "label": "Input Labelling/Host Mapping",
        "disabled": false,
        "info": ""
    },
    {
        "id": "bce71507.b8fa18",
        "type": "tab",
        "label": "Instrument Activate",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a0768869.3268d8",
        "type": "subflow",
        "name": "Subflow 1",
        "info": "",
        "in": [],
        "out": []
    },
    {
        "id": "3fb915a5.7ae9ba",
        "type": "mqtt-broker",
        "z": "",
        "broker": "192.168.4.23",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "5120579c.351588",
        "type": "ui_group",
        "z": "",
        "name": "CPU Load",
        "tab": "ec25d94.f8bde28",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "c8e58398.ffb75",
        "type": "ui_group",
        "z": "",
        "name": "HDD & Ram",
        "tab": "ec25d94.f8bde28",
        "order": 3,
        "disp": true,
        "width": "6"
    },
    {
        "id": "9c376fd8.8d5a5",
        "type": "ui_group",
        "z": "",
        "name": "System Information",
        "tab": "ec25d94.f8bde28",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "ec25d94.f8bde28",
        "type": "ui_tab",
        "z": "",
        "name": "CBF System Dashboard",
        "icon": "computer",
        "order": 1
    },
    {
        "id": "6c722873.b80a58",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "Lucida Sans Typewriter,Lucida Console,Monaco,monospace",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "Lucida Sans Typewriter,Lucida Console,Monaco,monospace"
                }
            }
        },
        "site": {
            "name": "CBF Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "b4cb252c.287fb8",
        "type": "ui_tab",
        "z": "",
        "name": "Host Sensors Status",
        "icon": "dashboard",
        "order": 2
    },
    {
        "id": "de69c863.1b5a28",
        "type": "ui_group",
        "z": "",
        "name": "Array Information",
        "tab": "ec25d94.f8bde28",
        "order": 4,
        "disp": true,
        "width": "7"
    },
    {
        "id": "d9e55966.c5d298",
        "type": "ui_group",
        "z": "",
        "name": "F-host0 Sensors Status",
        "tab": "b4cb252c.287fb8",
        "order": 1,
        "disp": true,
        "width": "8"
    },
    {
        "id": "d6a70612.d5dec8",
        "type": "ui_group",
        "z": "",
        "name": "X-Host0 Sensor Status",
        "tab": "b4cb252c.287fb8",
        "order": 5,
        "disp": true,
        "width": "8"
    },
    {
        "id": "d2c82769.e320e8",
        "type": "ui_group",
        "z": "",
        "name": "F-host1 Sensors Status",
        "tab": "b4cb252c.287fb8",
        "order": 2,
        "disp": true,
        "width": "8"
    },
    {
        "id": "17571187.359bee",
        "type": "ui_group",
        "z": "",
        "name": "F-host2 Sensors Status",
        "tab": "b4cb252c.287fb8",
        "order": 3,
        "disp": true,
        "width": "8"
    },
    {
        "id": "15cd2830.fc9ae8",
        "type": "ui_link",
        "z": "",
        "name": "Jenkins",
        "link": "http://dbelab04.kat.ac.za:8080",
        "icon": "open_in_browser",
        "target": "newtab",
        "order": 3
    },
    {
        "id": "9a7d529.a278db",
        "type": "ui_link",
        "z": "",
        "name": "CBF Site Test Reports",
        "link": "http://dbelab04.kat.ac.za/Site_Tests",
        "icon": "open_in_browser",
        "target": "iframe",
        "order": 4
    },
    {
        "id": "60875894.d69348",
        "type": "ui_group",
        "z": "",
        "name": "F-host3 Sensors Status",
        "tab": "b4cb252c.287fb8",
        "order": 4,
        "disp": true,
        "width": "8"
    },
    {
        "id": "6a5fd610.33ec88",
        "type": "ui_group",
        "z": "",
        "name": "X-Host1 Sensor Status",
        "tab": "b4cb252c.287fb8",
        "order": 6,
        "disp": true,
        "width": "8"
    },
    {
        "id": "509278fd.70a168",
        "type": "ui_group",
        "z": "",
        "name": "X-Host2 Sensor Status",
        "tab": "b4cb252c.287fb8",
        "order": 7,
        "disp": true,
        "width": "8"
    },
    {
        "id": "f77d79e5.babaf8",
        "type": "ui_group",
        "z": "",
        "name": "X-Host3 Sensor Status",
        "tab": "b4cb252c.287fb8",
        "order": 8,
        "disp": true,
        "width": "8"
    },
    {
        "id": "d5de1ae.49a92e8",
        "type": "ui_group",
        "z": "",
        "name": "Instrument Activate (Lab)",
        "tab": "ec25d94.f8bde28",
        "order": 5,
        "disp": true,
        "width": "6"
    },
    {
        "id": "3e94c1ac.04a72e",
        "type": "ui_group",
        "z": "",
        "name": "Input Labels/Maps",
        "tab": "ec25d94.f8bde28",
        "order": 6,
        "disp": true,
        "width": "6"
    },
    {
        "id": "8aec08f0.630208",
        "type": "mqtt in",
        "z": "16ef74d2.7e23eb",
        "name": "",
        "topic": "sensor_values/baseline_correlation_products_n_chans_per_substream",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 290,
        "y": 40,
        "wires": [
            [
                "5f79eef5.85aaa"
            ]
        ]
    },
    {
        "id": "192d5f6b.c10771",
        "type": "OS",
        "z": "a549a211.0aca8",
        "name": "",
        "x": 790,
        "y": 540,
        "wires": [
            [
                "31642c3c.0f3c64",
                "5125718b.531ab",
                "4ba67222.666aac",
                "b4662f50.1345e"
            ]
        ]
    },
    {
        "id": "9e352967.6532b8",
        "type": "Uptime",
        "z": "a549a211.0aca8",
        "name": "",
        "x": 801,
        "y": 495,
        "wires": [
            [
                "30d7fe80.5ed9e2"
            ]
        ]
    },
    {
        "id": "b3d1419a.edfe9",
        "type": "CPUs",
        "z": "a549a211.0aca8",
        "name": "",
        "x": 790,
        "y": 585,
        "wires": [
            [
                "49d73ce9.0b0874",
                "12404842.c70a78"
            ]
        ]
    },
    {
        "id": "36bb47ba.f3f068",
        "type": "Loadavg",
        "z": "a549a211.0aca8",
        "name": "",
        "x": 800,
        "y": 340,
        "wires": [
            [
                "35183a06.d03ae6",
                "2533f369.0fe96c",
                "b1a8897b.dc8ec8",
                "de9602d.b6379"
            ]
        ]
    },
    {
        "id": "a8294fd5.542da",
        "type": "Memory",
        "z": "a549a211.0aca8",
        "name": "",
        "x": 800,
        "y": 760,
        "wires": [
            [
                "4a589916.e4c8d8",
                "b39e6023.fdcfe",
                "d92e604f.797dc",
                "2882feaf.75cb62"
            ]
        ]
    },
    {
        "id": "d87e64de.d29898",
        "type": "inject",
        "z": "a549a211.0aca8",
        "name": "update",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "30",
        "crontab": "",
        "once": true,
        "x": 594,
        "y": 445,
        "wires": [
            [
                "192d5f6b.c10771",
                "9e352967.6532b8",
                "b3d1419a.edfe9",
                "36bb47ba.f3f068",
                "a8294fd5.542da",
                "e942612b.6c8d2",
                "984453c4.d3758"
            ]
        ]
    },
    {
        "id": "35183a06.d03ae6",
        "type": "function",
        "z": "a549a211.0aca8",
        "name": "",
        "func": "msg.payload = msg.payload.loadavg[0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 970,
        "y": 280,
        "wires": [
            [
                "bde15ee0.4b38d"
            ]
        ]
    },
    {
        "id": "2533f369.0fe96c",
        "type": "function",
        "z": "a549a211.0aca8",
        "name": "",
        "func": "msg.payload = msg.payload.loadavg[1];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 970,
        "y": 320,
        "wires": [
            [
                "ea3b844b.d73468"
            ]
        ]
    },
    {
        "id": "b1a8897b.dc8ec8",
        "type": "function",
        "z": "a549a211.0aca8",
        "name": "",
        "func": "msg.payload = msg.payload.loadavg[2];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 970,
        "y": 360,
        "wires": [
            [
                "adacdb01.5cc0c8"
            ]
        ]
    },
    {
        "id": "bde15ee0.4b38d",
        "type": "ui_gauge",
        "z": "a549a211.0aca8",
        "name": "CPU Load 1",
        "group": "5120579c.351588",
        "order": 2,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "1 Minute",
        "label": "load",
        "format": "{{value | number:2}}",
        "min": 0,
        "max": "4",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "x": 1130,
        "y": 279,
        "wires": []
    },
    {
        "id": "ea3b844b.d73468",
        "type": "ui_gauge",
        "z": "a549a211.0aca8",
        "name": "CPU Load 2",
        "group": "5120579c.351588",
        "order": 3,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "5 Minutes",
        "label": "load",
        "format": "{{value | number:2}}",
        "min": 0,
        "max": "4",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "x": 1130,
        "y": 320,
        "wires": []
    },
    {
        "id": "adacdb01.5cc0c8",
        "type": "ui_gauge",
        "z": "a549a211.0aca8",
        "name": "CPU Load 3",
        "group": "5120579c.351588",
        "order": 4,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "15 Minutes",
        "label": "load",
        "format": "{{value | number:2}}",
        "min": 0,
        "max": "4",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "x": 1128,
        "y": 362,
        "wires": []
    },
    {
        "id": "4a589916.e4c8d8",
        "type": "function",
        "z": "a549a211.0aca8",
        "name": "",
        "func": "msg.payload = msg.payload.memusage;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 970,
        "y": 800,
        "wires": [
            [
                "4d95f4d.cab6e0c"
            ]
        ]
    },
    {
        "id": "4d95f4d.cab6e0c",
        "type": "ui_gauge",
        "z": "a549a211.0aca8",
        "name": "Memory Usage",
        "group": "c8e58398.ffb75",
        "order": 1,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "1 Minute",
        "label": "Usage",
        "format": "{{value | number:2}} %",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1140,
        "y": 820,
        "wires": []
    },
    {
        "id": "b39e6023.fdcfe",
        "type": "function",
        "z": "a549a211.0aca8",
        "name": "",
        "func": "function formatBytes(bytes,decimals) {\n   if(bytes === 0) return '0 Byte';\n   var k = 1000; // or 1024 for binary\n   var dm = decimals + 1 || 3;\n   var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];\n   var i = Math.floor(Math.log(bytes) / Math.log(k));\n   return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];\n}\n\nmsg.payload = formatBytes(msg.payload.totalmem);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 972,
        "y": 843,
        "wires": [
            [
                "5f7a7485.c920ac"
            ]
        ]
    },
    {
        "id": "d92e604f.797dc",
        "type": "function",
        "z": "a549a211.0aca8",
        "name": "",
        "func": "function formatBytes(bytes,decimals) {\n   if(bytes === 0) return '0 Byte';\n   var k = 1000; // or 1024 for binary\n   var dm = decimals + 1 || 3;\n   var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];\n   var i = Math.floor(Math.log(bytes) / Math.log(k));\n   return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];\n}\n\nmsg.payload = formatBytes(msg.payload.freemem);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 970,
        "y": 889,
        "wires": [
            [
                "4a07ad77.cb66d4"
            ]
        ]
    },
    {
        "id": "5f7a7485.c920ac",
        "type": "ui_text",
        "z": "a549a211.0aca8",
        "group": "c8e58398.ffb75",
        "order": 2,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Total Memory",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1140,
        "y": 860,
        "wires": []
    },
    {
        "id": "4a07ad77.cb66d4",
        "type": "ui_text",
        "z": "a549a211.0aca8",
        "group": "c8e58398.ffb75",
        "order": 3,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Free Memory",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1140,
        "y": 900,
        "wires": []
    },
    {
        "id": "30d7fe80.5ed9e2",
        "type": "function",
        "z": "a549a211.0aca8",
        "name": "",
        "func": "function timeConversion(millisec) {\n\n    var seconds = (millisec / 1000).toFixed(1);\n\n    var minutes = (millisec / (1000 * 60)).toFixed(1);\n\n    var hours = (millisec / (1000 * 60 * 60)).toFixed(1);\n\n    var days = (millisec / (1000 * 60 * 60 * 24)).toFixed(1);\n\n    if (seconds < 60) {\n        return seconds + \" Sec\";\n    } else if (minutes < 60) {\n        return minutes + \" Min\";\n    } else if (hours < 24) {\n        return hours + \" Hrs\";\n    } else {\n        return days + \" Days\"\n    }\n}\n\nmsg.payload = timeConversion(msg.payload.uptime * 1000);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 962,
        "y": 495,
        "wires": [
            [
                "8209d2c5.d1583"
            ]
        ]
    },
    {
        "id": "8209d2c5.d1583",
        "type": "ui_text",
        "z": "a549a211.0aca8",
        "group": "9c376fd8.8d5a5",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Uptime",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1120,
        "y": 500,
        "wires": []
    },
    {
        "id": "31642c3c.0f3c64",
        "type": "function",
        "z": "a549a211.0aca8",
        "name": "",
        "func": "msg.payload = msg.payload.hostname;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 961,
        "y": 532,
        "wires": [
            [
                "ba29d11c.a8fc4"
            ]
        ]
    },
    {
        "id": "ba29d11c.a8fc4",
        "type": "ui_text",
        "z": "a549a211.0aca8",
        "group": "9c376fd8.8d5a5",
        "order": 2,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Hostname",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1130,
        "y": 540,
        "wires": []
    },
    {
        "id": "5125718b.531ab",
        "type": "function",
        "z": "a549a211.0aca8",
        "name": "",
        "func": "msg.payload = msg.payload.platform;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 963,
        "y": 570,
        "wires": [
            [
                "90626e11.f4aec"
            ]
        ]
    },
    {
        "id": "90626e11.f4aec",
        "type": "ui_text",
        "z": "a549a211.0aca8",
        "group": "9c376fd8.8d5a5",
        "order": 3,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Platform",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1120,
        "y": 580,
        "wires": []
    },
    {
        "id": "4ba67222.666aac",
        "type": "function",
        "z": "a549a211.0aca8",
        "name": "",
        "func": "msg.payload = msg.payload.arch;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 964,
        "y": 609,
        "wires": [
            [
                "d9563d08.2337a"
            ]
        ]
    },
    {
        "id": "d9563d08.2337a",
        "type": "ui_text",
        "z": "a549a211.0aca8",
        "group": "9c376fd8.8d5a5",
        "order": 4,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Arch",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1110,
        "y": 620,
        "wires": []
    },
    {
        "id": "b4662f50.1345e",
        "type": "function",
        "z": "a549a211.0aca8",
        "name": "",
        "func": "msg.payload = msg.payload.release;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 965,
        "y": 645,
        "wires": [
            [
                "6eb3c992.664168"
            ]
        ]
    },
    {
        "id": "6eb3c992.664168",
        "type": "ui_text",
        "z": "a549a211.0aca8",
        "group": "9c376fd8.8d5a5",
        "order": 5,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Release",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1120,
        "y": 660,
        "wires": []
    },
    {
        "id": "49d73ce9.0b0874",
        "type": "function",
        "z": "a549a211.0aca8",
        "name": "",
        "func": "msg.payload = msg.payload.cpus[0].model;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 964,
        "y": 686,
        "wires": [
            [
                "3240f62a.d1fa6a"
            ]
        ]
    },
    {
        "id": "3240f62a.d1fa6a",
        "type": "ui_text",
        "z": "a549a211.0aca8",
        "group": "9c376fd8.8d5a5",
        "order": 6,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "CPU ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1110,
        "y": 700,
        "wires": []
    },
    {
        "id": "de9602d.b6379",
        "type": "function",
        "z": "a549a211.0aca8",
        "name": "",
        "func": "msg.payload = msg.payload.loadavg[0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 970,
        "y": 400,
        "wires": [
            [
                "e2d1a671.26dd68"
            ]
        ]
    },
    {
        "id": "e2d1a671.26dd68",
        "type": "ui_chart",
        "z": "a549a211.0aca8",
        "name": "CPU Load - Historical",
        "group": "5120579c.351588",
        "order": 5,
        "width": "0",
        "height": "0",
        "label": "12 Hours",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": "",
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "x": 1159,
        "y": 404,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "2882feaf.75cb62",
        "type": "function",
        "z": "a549a211.0aca8",
        "name": "",
        "func": "msg.payload = msg.payload.memusage;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 967,
        "y": 761,
        "wires": [
            [
                "3cbe8754.4fec18"
            ]
        ]
    },
    {
        "id": "3cbe8754.4fec18",
        "type": "ui_chart",
        "z": "a549a211.0aca8",
        "name": "Memory - 24 Hours",
        "group": "c8e58398.ffb75",
        "order": 4,
        "width": "0",
        "height": "0",
        "label": "12 Hours",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": "",
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "x": 1130,
        "y": 780,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "1aa175fc.2e5b9a",
        "type": "comment",
        "z": "a549a211.0aca8",
        "name": "CPU Load",
        "info": "",
        "x": 960,
        "y": 140,
        "wires": []
    },
    {
        "id": "1fe46115.81b6bf",
        "type": "comment",
        "z": "a549a211.0aca8",
        "name": "Memory Usage",
        "info": "",
        "x": 1140,
        "y": 740,
        "wires": []
    },
    {
        "id": "c7e68b7f.759738",
        "type": "comment",
        "z": "a549a211.0aca8",
        "name": "System Information",
        "info": "",
        "x": 1143,
        "y": 444,
        "wires": []
    },
    {
        "id": "12404842.c70a78",
        "type": "debug",
        "z": "a549a211.0aca8",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 810,
        "y": 640,
        "wires": []
    },
    {
        "id": "e942612b.6c8d2",
        "type": "Drives",
        "z": "a549a211.0aca8",
        "name": "",
        "x": 790,
        "y": 940,
        "wires": [
            [
                "4f4aa567.7d08ac",
                "8b868588.6fef28"
            ]
        ]
    },
    {
        "id": "4f4aa567.7d08ac",
        "type": "function",
        "z": "a549a211.0aca8",
        "name": "",
        "func": "msg = msg.payload[3]\nmsg.payload = msg.capacity * 100\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 970,
        "y": 940,
        "wires": [
            [
                "f041c2b9.e67fd"
            ]
        ]
    },
    {
        "id": "f041c2b9.e67fd",
        "type": "ui_gauge",
        "z": "a549a211.0aca8",
        "name": "Harddisk Usage",
        "group": "c8e58398.ffb75",
        "order": 5,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "Rootfs",
        "label": "Hard Disk Usage",
        "format": "{{value}} %",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1140,
        "y": 940,
        "wires": []
    },
    {
        "id": "d1120a37.c2b1f8",
        "type": "mqtt in",
        "z": "16ef74d2.7e23eb",
        "name": "",
        "topic": "sensor_values/instrument_state",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 170,
        "y": 80,
        "wires": [
            [
                "881916fb.4eae88"
            ]
        ]
    },
    {
        "id": "9a5e613a.14886",
        "type": "mqtt in",
        "z": "16ef74d2.7e23eb",
        "name": "",
        "topic": "sensor_values/baseline_correlation_products_n_accs",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 240,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "490d6afe.129c14",
        "type": "mqtt in",
        "z": "16ef74d2.7e23eb",
        "name": "",
        "topic": "sensor_values/scale_factor_timestamp",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 190,
        "y": 160,
        "wires": [
            [
                "49f9459c.e78f0c"
            ]
        ]
    },
    {
        "id": "30d306c3.12cf8a",
        "type": "mqtt in",
        "z": "16ef74d2.7e23eb",
        "name": "",
        "topic": "sensor_values/n_xeng_hosts",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 160,
        "y": 200,
        "wires": [
            [
                "b6ad9968.a6adc8"
            ]
        ]
    },
    {
        "id": "3f2923cd.a52fbc",
        "type": "mqtt in",
        "z": "16ef74d2.7e23eb",
        "name": "",
        "topic": "sensor_values/baseline_correlation_products_int_time",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 240,
        "y": 240,
        "wires": [
            [
                "bae8ea.a68b2718"
            ]
        ]
    },
    {
        "id": "eaaaca50.b5ccb8",
        "type": "mqtt in",
        "z": "16ef74d2.7e23eb",
        "name": "",
        "topic": "sensor_values/n_ants",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 140,
        "y": 280,
        "wires": [
            [
                "1ab9a460.2760bc"
            ]
        ]
    },
    {
        "id": "f95c2eeb.de18a",
        "type": "mqtt in",
        "z": "16ef74d2.7e23eb",
        "name": "",
        "topic": "sensor_values/baseline_correlation_products_n_chans",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 240,
        "y": 320,
        "wires": [
            [
                "2ecc3327.622b1c"
            ]
        ]
    },
    {
        "id": "7b11bfe7.343aa",
        "type": "mqtt in",
        "z": "16ef74d2.7e23eb",
        "name": "",
        "topic": "sensor_values/baseline_correlation_products_destination",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 250,
        "y": 360,
        "wires": [
            [
                "2ce79389.08562c"
            ]
        ]
    },
    {
        "id": "e9c0b299.824e6",
        "type": "mqtt in",
        "z": "16ef74d2.7e23eb",
        "name": "",
        "topic": "sensor_values/synchronisation_epoch",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 190,
        "y": 400,
        "wires": [
            [
                "61048242.5c24dc"
            ]
        ]
    },
    {
        "id": "a3648c56.f4dcc",
        "type": "mqtt in",
        "z": "16ef74d2.7e23eb",
        "name": "",
        "topic": "sensor_values/baseline_correlation_products_n_bls",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 230,
        "y": 440,
        "wires": [
            [
                "1848767b.0a21ba"
            ]
        ]
    },
    {
        "id": "5f79eef5.85aaa",
        "type": "ui_text",
        "z": "16ef74d2.7e23eb",
        "group": "de69c863.1b5a28",
        "order": 14,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "N. Chans/Substream",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 720,
        "y": 40,
        "wires": []
    },
    {
        "id": "881916fb.4eae88",
        "type": "ui_text",
        "z": "16ef74d2.7e23eb",
        "group": "de69c863.1b5a28",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Running Instrument",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 710,
        "y": 80,
        "wires": []
    },
    {
        "id": "49f9459c.e78f0c",
        "type": "ui_text",
        "z": "16ef74d2.7e23eb",
        "group": "de69c863.1b5a28",
        "order": 15,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Scale Factor Timestamp",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 730,
        "y": 160,
        "wires": []
    },
    {
        "id": "b6ad9968.a6adc8",
        "type": "ui_text",
        "z": "16ef74d2.7e23eb",
        "group": "de69c863.1b5a28",
        "order": 10,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "N. Xeng Hosts",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 700,
        "y": 200,
        "wires": []
    },
    {
        "id": "bae8ea.a68b2718",
        "type": "ui_text",
        "z": "16ef74d2.7e23eb",
        "group": "de69c863.1b5a28",
        "order": 12,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Intergration Time",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 710,
        "y": 240,
        "wires": []
    },
    {
        "id": "1ab9a460.2760bc",
        "type": "ui_text",
        "z": "16ef74d2.7e23eb",
        "group": "de69c863.1b5a28",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "N. Antennas",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 690,
        "y": 400,
        "wires": []
    },
    {
        "id": "2ecc3327.622b1c",
        "type": "ui_text",
        "z": "16ef74d2.7e23eb",
        "group": "de69c863.1b5a28",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "N. Channels",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 690,
        "y": 280,
        "wires": []
    },
    {
        "id": "2ce79389.08562c",
        "type": "ui_text",
        "z": "16ef74d2.7e23eb",
        "group": "de69c863.1b5a28",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "X Engine Data Destination",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 740,
        "y": 320,
        "wires": []
    },
    {
        "id": "61048242.5c24dc",
        "type": "ui_text",
        "z": "16ef74d2.7e23eb",
        "group": "de69c863.1b5a28",
        "order": 13,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Synchronous Epoch",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 720,
        "y": 440,
        "wires": []
    },
    {
        "id": "1848767b.0a21ba",
        "type": "ui_text",
        "z": "16ef74d2.7e23eb",
        "group": "de69c863.1b5a28",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "No. Baselines",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 700,
        "y": 360,
        "wires": []
    },
    {
        "id": "2eed8085.9a99f",
        "type": "mqtt in",
        "z": "16ef74d2.7e23eb",
        "name": "",
        "topic": "sensor_values/n_feng_hosts",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 160,
        "y": 480,
        "wires": [
            [
                "e5ca23e4.252bb"
            ]
        ]
    },
    {
        "id": "e5ca23e4.252bb",
        "type": "ui_text",
        "z": "16ef74d2.7e23eb",
        "group": "de69c863.1b5a28",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "N. Feng Hosts",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 700,
        "y": 480,
        "wires": []
    },
    {
        "id": "870e783f.830928",
        "type": "mqtt in",
        "z": "81772a63.4aa448",
        "name": "",
        "topic": "sensor_values/fhost0_lru_ok",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 420,
        "y": 420,
        "wires": [
            [
                "9377e2d9.3acfa"
            ]
        ]
    },
    {
        "id": "48dff321.911f5c",
        "type": "mqtt in",
        "z": "81772a63.4aa448",
        "name": "",
        "topic": "sensor_values/fhost0_network_rx_ok",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 450,
        "y": 460,
        "wires": [
            [
                "f411e89d.9b8838"
            ]
        ]
    },
    {
        "id": "80452b7b.4ebf48",
        "type": "mqtt in",
        "z": "81772a63.4aa448",
        "name": "",
        "topic": "sensor_values/fhost0_network_tx_ok",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 450,
        "y": 500,
        "wires": [
            [
                "400003d3.9ac97c"
            ]
        ]
    },
    {
        "id": "88428962.50f808",
        "type": "mqtt in",
        "z": "81772a63.4aa448",
        "name": "",
        "topic": "sensor_values/fhost0_pfb_ok",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 420,
        "y": 540,
        "wires": [
            [
                "be0bda28.34bac8"
            ]
        ]
    },
    {
        "id": "86f4510c.03cef",
        "type": "mqtt in",
        "z": "81772a63.4aa448",
        "name": "",
        "topic": "sensor_values/fhost0_phy_ok",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 430,
        "y": 580,
        "wires": [
            [
                "ebcab5bc.87ebe8"
            ]
        ]
    },
    {
        "id": "31bcbf77.89e65",
        "type": "mqtt in",
        "z": "81772a63.4aa448",
        "name": "",
        "topic": "sensor_values/fhost0_qdr_ok",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 420,
        "y": 620,
        "wires": [
            [
                "70f129f.2ff21d8"
            ]
        ]
    },
    {
        "id": "2b484d02.b02c22",
        "type": "mqtt in",
        "z": "81772a63.4aa448",
        "name": "",
        "topic": "sensor_values/fhost0_reorder_ok",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 440,
        "y": 660,
        "wires": [
            [
                "f2adcb1a.7fefa8"
            ]
        ]
    },
    {
        "id": "be0d19b4.f60738",
        "type": "mqtt in",
        "z": "81772a63.4aa448",
        "name": "",
        "topic": "sensor_values/fhost1_lru_ok",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 1040,
        "y": 420,
        "wires": [
            [
                "fb3ddf12.036ab"
            ]
        ]
    },
    {
        "id": "27dfffd5.1e6fb",
        "type": "mqtt in",
        "z": "81772a63.4aa448",
        "name": "",
        "topic": "sensor_values/fhost1_network_rx_ok",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 1070,
        "y": 460,
        "wires": [
            [
                "30f6f1cb.0903ae"
            ]
        ]
    },
    {
        "id": "5f811471.41eb0c",
        "type": "mqtt in",
        "z": "81772a63.4aa448",
        "name": "",
        "topic": "sensor_values/fhost1_network_tx_ok",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 1070,
        "y": 500,
        "wires": [
            [
                "b6a92b27.777358"
            ]
        ]
    },
    {
        "id": "41144c6b.4c2ff4",
        "type": "mqtt in",
        "z": "81772a63.4aa448",
        "name": "",
        "topic": "sensor_values/fhost1_pfb_ok",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 1040,
        "y": 540,
        "wires": [
            [
                "ab6dfb7.cc71108"
            ]
        ]
    },
    {
        "id": "c33b3957.7602d8",
        "type": "mqtt in",
        "z": "81772a63.4aa448",
        "name": "",
        "topic": "sensor_values/fhost1_phy_ok",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 1050,
        "y": 580,
        "wires": [
            [
                "15f24ba6.8acc24"
            ]
        ]
    },
    {
        "id": "6352b435.ab88ec",
        "type": "mqtt in",
        "z": "81772a63.4aa448",
        "name": "",
        "topic": "sensor_values/fhost1_qdr_ok",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 1040,
        "y": 620,
        "wires": [
            [
                "166bfd2c.2806f3"
            ]
        ]
    },
    {
        "id": "ea155609.3594d8",
        "type": "mqtt in",
        "z": "81772a63.4aa448",
        "name": "",
        "topic": "sensor_values/fhost1_reorder_ok",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 1060,
        "y": 660,
        "wires": [
            [
                "c67a19df.4afae8"
            ]
        ]
    },
    {
        "id": "5ca227d9.dfe6f8",
        "type": "mqtt in",
        "z": "81772a63.4aa448",
        "name": "",
        "topic": "sensor_values/fhost2_lru_ok",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 420,
        "y": 760,
        "wires": [
            [
                "6a6533c1.5e82fc"
            ]
        ]
    },
    {
        "id": "8f47d36.7559b3",
        "type": "mqtt in",
        "z": "81772a63.4aa448",
        "name": "",
        "topic": "sensor_values/fhost2_network_tx_ok",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 450,
        "y": 800,
        "wires": [
            [
                "c6b627f3.690fd8"
            ]
        ]
    },
    {
        "id": "162a7559.df1b8b",
        "type": "mqtt in",
        "z": "81772a63.4aa448",
        "name": "",
        "topic": "sensor_values/fhost2_pfb_ok",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 420,
        "y": 840,
        "wires": [
            [
                "44e8da9c.62b2b4"
            ]
        ]
    },
    {
        "id": "700a273b.bfd568",
        "type": "mqtt in",
        "z": "81772a63.4aa448",
        "name": "",
        "topic": "sensor_values/fhost2_network_rx_ok",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 450,
        "y": 880,
        "wires": [
            [
                "b2d9148b.7c59b8"
            ]
        ]
    },
    {
        "id": "baa0f2b9.0d26b",
        "type": "mqtt in",
        "z": "81772a63.4aa448",
        "name": "",
        "topic": "sensor_values/fhost2_phy_ok",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 430,
        "y": 920,
        "wires": [
            [
                "1883ef30.8292d1"
            ]
        ]
    },
    {
        "id": "d307290e.2916f8",
        "type": "mqtt in",
        "z": "81772a63.4aa448",
        "name": "",
        "topic": "sensor_values/fhost2_qdr_ok",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 420,
        "y": 960,
        "wires": [
            [
                "3617294b.f3c526"
            ]
        ]
    },
    {
        "id": "12ca9e07.e46402",
        "type": "mqtt in",
        "z": "81772a63.4aa448",
        "name": "",
        "topic": "sensor_values/fhost2_reorder_ok",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 440,
        "y": 1000,
        "wires": [
            [
                "394047e8.b1bd88"
            ]
        ]
    },
    {
        "id": "e7fd2f6d.a8b14",
        "type": "mqtt in",
        "z": "81772a63.4aa448",
        "name": "",
        "topic": "sensor_values/fhost3_network_rx_ok",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 1070,
        "y": 760,
        "wires": [
            [
                "88f37e19.f5b39"
            ]
        ]
    },
    {
        "id": "35756544.df70fa",
        "type": "mqtt in",
        "z": "81772a63.4aa448",
        "name": "",
        "topic": "sensor_values/fhost3_lru_ok",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 1040,
        "y": 800,
        "wires": [
            [
                "565c5bd4.79cee4"
            ]
        ]
    },
    {
        "id": "84826495.823a28",
        "type": "mqtt in",
        "z": "81772a63.4aa448",
        "name": "",
        "topic": "sensor_values/fhost3_network_tx_ok",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 1070,
        "y": 840,
        "wires": [
            [
                "47ecfbf8.b09584"
            ]
        ]
    },
    {
        "id": "d1aa1027.97c67",
        "type": "mqtt in",
        "z": "81772a63.4aa448",
        "name": "",
        "topic": "sensor_values/fhost3_pfb_ok",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 1040,
        "y": 880,
        "wires": [
            [
                "beeb7610.e3a6a8"
            ]
        ]
    },
    {
        "id": "2608c52.92adb3a",
        "type": "mqtt in",
        "z": "81772a63.4aa448",
        "name": "",
        "topic": "sensor_values/fhost3_phy_ok",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 1050,
        "y": 920,
        "wires": [
            [
                "e216a601.7d4848"
            ]
        ]
    },
    {
        "id": "476b6bce.2fbdc4",
        "type": "mqtt in",
        "z": "81772a63.4aa448",
        "name": "",
        "topic": "sensor_values/fhost3_qdr_ok",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 1040,
        "y": 960,
        "wires": [
            [
                "b66230d3.71223"
            ]
        ]
    },
    {
        "id": "468941fa.9b418",
        "type": "mqtt in",
        "z": "81772a63.4aa448",
        "name": "",
        "topic": "sensor_values/fhost3_reorder_ok",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 1060,
        "y": 1000,
        "wires": [
            [
                "9c52f883.4aa568"
            ]
        ]
    },
    {
        "id": "d004c25d.0249a",
        "type": "mqtt in",
        "z": "81772a63.4aa448",
        "name": "",
        "topic": "sensor_values/xhost0_lru_ok",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 420,
        "y": 1080,
        "wires": [
            [
                "cace9c22.6b53"
            ]
        ]
    },
    {
        "id": "a5958c40.00d11",
        "type": "mqtt in",
        "z": "81772a63.4aa448",
        "name": "",
        "topic": "sensor_values/xhost0_network_rx_ok",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 450,
        "y": 1120,
        "wires": [
            [
                "9946e175.1fbd1"
            ]
        ]
    },
    {
        "id": "a40b8a21.f68848",
        "type": "mqtt in",
        "z": "81772a63.4aa448",
        "name": "",
        "topic": "sensor_values/xhost0_network_tx_ok",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 450,
        "y": 1160,
        "wires": [
            [
                "ac53b99a.b2b068"
            ]
        ]
    },
    {
        "id": "c3ae8816.664608",
        "type": "mqtt in",
        "z": "81772a63.4aa448",
        "name": "",
        "topic": "sensor_values/xhost0_phy_ok",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 430,
        "y": 1200,
        "wires": [
            [
                "a3c78317.efac1"
            ]
        ]
    },
    {
        "id": "5cdf7981.b07728",
        "type": "mqtt in",
        "z": "81772a63.4aa448",
        "name": "",
        "topic": "sensor_values/xhost0_qdr_ok",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 430,
        "y": 1240,
        "wires": [
            [
                "cff804d2.381748"
            ]
        ]
    },
    {
        "id": "f54e08c6.b2d308",
        "type": "mqtt in",
        "z": "81772a63.4aa448",
        "name": "",
        "topic": "sensor_values/xhost0_reorder_ok",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 440,
        "y": 1280,
        "wires": [
            [
                "68277d5.8d8a084"
            ]
        ]
    },
    {
        "id": "5c6aad95.3f85c4",
        "type": "mqtt in",
        "z": "81772a63.4aa448",
        "name": "",
        "topic": "sensor_values/xhost1_lru_ok",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 420,
        "y": 1420,
        "wires": [
            [
                "ae8cc9d4.a8a178"
            ]
        ]
    },
    {
        "id": "860e0d43.4e0f8",
        "type": "mqtt in",
        "z": "81772a63.4aa448",
        "name": "",
        "topic": "sensor_values/xhost1_network_rx_ok",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 450,
        "y": 1460,
        "wires": [
            [
                "653d1a39.251a24"
            ]
        ]
    },
    {
        "id": "8025dcaf.0f167",
        "type": "mqtt in",
        "z": "81772a63.4aa448",
        "name": "",
        "topic": "sensor_values/xhost1_network_tx_ok",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 450,
        "y": 1500,
        "wires": [
            [
                "eabd3250.488e1"
            ]
        ]
    },
    {
        "id": "c426e66d.366598",
        "type": "mqtt in",
        "z": "81772a63.4aa448",
        "name": "",
        "topic": "sensor_values/xhost1_phy_ok",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 430,
        "y": 1540,
        "wires": [
            [
                "290d3546.b6f93a"
            ]
        ]
    },
    {
        "id": "7b65b28d.e8705c",
        "type": "mqtt in",
        "z": "81772a63.4aa448",
        "name": "",
        "topic": "sensor_values/xhost1_qdr_ok",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 430,
        "y": 1580,
        "wires": [
            [
                "1fc9c0d7.3fe62f"
            ]
        ]
    },
    {
        "id": "6f12a8ab.a60ce8",
        "type": "mqtt in",
        "z": "81772a63.4aa448",
        "name": "",
        "topic": "sensor_values/xhost1_reorder_ok",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 440,
        "y": 1620,
        "wires": [
            [
                "6d655a82.56e394"
            ]
        ]
    },
    {
        "id": "a0808170.0d564",
        "type": "mqtt in",
        "z": "81772a63.4aa448",
        "name": "",
        "topic": "sensor_values/xhost2_lru_ok",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 1040,
        "y": 1080,
        "wires": [
            [
                "e7bf9e43.8869a"
            ]
        ]
    },
    {
        "id": "9e0acba1.ffde38",
        "type": "mqtt in",
        "z": "81772a63.4aa448",
        "name": "",
        "topic": "sensor_values/xhost2_network_rx_ok",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 1070,
        "y": 1120,
        "wires": [
            [
                "4ad93896.b65588"
            ]
        ]
    },
    {
        "id": "579e7354.68739c",
        "type": "mqtt in",
        "z": "81772a63.4aa448",
        "name": "",
        "topic": "sensor_values/xhost2_network_tx_ok",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 1070,
        "y": 1160,
        "wires": [
            [
                "b8defe96.73e66"
            ]
        ]
    },
    {
        "id": "b39067f9.0a48c8",
        "type": "mqtt in",
        "z": "81772a63.4aa448",
        "name": "",
        "topic": "sensor_values/xhost2_phy_ok",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 1050,
        "y": 1200,
        "wires": [
            [
                "47640c32.2c3284"
            ]
        ]
    },
    {
        "id": "79f2bc4e.a59614",
        "type": "mqtt in",
        "z": "81772a63.4aa448",
        "name": "",
        "topic": "sensor_values/xhost2_qdr_ok",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 1050,
        "y": 1240,
        "wires": [
            [
                "b5cbc8ac.f61a58"
            ]
        ]
    },
    {
        "id": "28920544.d7efea",
        "type": "mqtt in",
        "z": "81772a63.4aa448",
        "name": "",
        "topic": "sensor_values/xhost3_network_rx_ok",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 1070,
        "y": 1540,
        "wires": [
            [
                "71b6263c.1014e8"
            ]
        ]
    },
    {
        "id": "f9306c8a.4f8b6",
        "type": "mqtt in",
        "z": "81772a63.4aa448",
        "name": "",
        "topic": "sensor_values/xhost3_qdr_ok",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 1050,
        "y": 1580,
        "wires": [
            [
                "14f8f9b4.ac3606"
            ]
        ]
    },
    {
        "id": "acb4102c.1a579",
        "type": "mqtt in",
        "z": "81772a63.4aa448",
        "name": "",
        "topic": "sensor_values/xhost3_network_tx_ok",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 1070,
        "y": 1620,
        "wires": [
            [
                "c0170deb.eec99"
            ]
        ]
    },
    {
        "id": "d3e47bac.30d1e8",
        "type": "mqtt in",
        "z": "81772a63.4aa448",
        "name": "",
        "topic": "sensor_values/xhost2_reorder_ok",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 1060,
        "y": 1280,
        "wires": [
            [
                "af37707f.3ae11"
            ]
        ]
    },
    {
        "id": "e80466cf.0b8138",
        "type": "mqtt in",
        "z": "81772a63.4aa448",
        "name": "",
        "topic": "sensor_values/xhost3_lru_ok",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 1040,
        "y": 1420,
        "wires": [
            [
                "d8e767c8.adf5b8"
            ]
        ]
    },
    {
        "id": "1a09c604.b5fbca",
        "type": "mqtt in",
        "z": "81772a63.4aa448",
        "name": "",
        "topic": "sensor_values/xhost3_phy_ok",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 1050,
        "y": 1460,
        "wires": [
            [
                "d0c0e39c.bff92"
            ]
        ]
    },
    {
        "id": "7317777b.a5e318",
        "type": "mqtt in",
        "z": "81772a63.4aa448",
        "name": "",
        "topic": "sensor_values/xhost3_reorder_ok",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 1060,
        "y": 1500,
        "wires": [
            [
                "262df3b1.4281ec"
            ]
        ]
    },
    {
        "id": "9377e2d9.3acfa",
        "type": "ui_text",
        "z": "81772a63.4aa448",
        "group": "d9e55966.c5d298",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "fhost0_lru_ok",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 700,
        "y": 420,
        "wires": []
    },
    {
        "id": "14299488.8dbb3b",
        "type": "mqtt in",
        "z": "16ef74d2.7e23eb",
        "name": "",
        "topic": "instrument/katcp_ip",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 130,
        "y": 600,
        "wires": [
            [
                "f655bf6c.e4bbf"
            ]
        ]
    },
    {
        "id": "f655bf6c.e4bbf",
        "type": "ui_text",
        "z": "16ef74d2.7e23eb",
        "group": "de69c863.1b5a28",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Host IP",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 680,
        "y": 600,
        "wires": []
    },
    {
        "id": "c2d42405.011ba8",
        "type": "mqtt in",
        "z": "16ef74d2.7e23eb",
        "name": "",
        "topic": "instrument/array_port",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 140,
        "y": 520,
        "wires": [
            [
                "e0aea4c5.ac33a8"
            ]
        ]
    },
    {
        "id": "e0aea4c5.ac33a8",
        "type": "ui_text",
        "z": "16ef74d2.7e23eb",
        "group": "de69c863.1b5a28",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Array Port",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 690,
        "y": 520,
        "wires": []
    },
    {
        "id": "94eb2021.851fa",
        "type": "mqtt in",
        "z": "16ef74d2.7e23eb",
        "name": "",
        "topic": "instrument/array_name",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 140,
        "y": 560,
        "wires": [
            [
                "f02e051c.c9cd28"
            ]
        ]
    },
    {
        "id": "f02e051c.c9cd28",
        "type": "ui_text",
        "z": "16ef74d2.7e23eb",
        "group": "de69c863.1b5a28",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Array Name",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 690,
        "y": 560,
        "wires": []
    },
    {
        "id": "f411e89d.9b8838",
        "type": "ui_text",
        "z": "81772a63.4aa448",
        "group": "d9e55966.c5d298",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "fhost0_network_rx_ok",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 720,
        "y": 460,
        "wires": []
    },
    {
        "id": "400003d3.9ac97c",
        "type": "ui_text",
        "z": "81772a63.4aa448",
        "group": "d9e55966.c5d298",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "fhost0-network-tx-ok",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 720,
        "y": 500,
        "wires": []
    },
    {
        "id": "ebcab5bc.87ebe8",
        "type": "ui_text",
        "z": "81772a63.4aa448",
        "group": "d9e55966.c5d298",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "fhost0-phy-ok",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 700,
        "y": 580,
        "wires": []
    },
    {
        "id": "be0bda28.34bac8",
        "type": "ui_text",
        "z": "81772a63.4aa448",
        "group": "d9e55966.c5d298",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "fhost0-pfb-ok",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 700,
        "y": 540,
        "wires": []
    },
    {
        "id": "70f129f.2ff21d8",
        "type": "ui_text",
        "z": "81772a63.4aa448",
        "group": "d9e55966.c5d298",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "fhost0-qdr-ok",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 700,
        "y": 620,
        "wires": []
    },
    {
        "id": "6a6533c1.5e82fc",
        "type": "ui_text",
        "z": "81772a63.4aa448",
        "group": "17571187.359bee",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "fhost2-lru-ok",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 690,
        "y": 760,
        "wires": []
    },
    {
        "id": "f2adcb1a.7fefa8",
        "type": "ui_text",
        "z": "81772a63.4aa448",
        "group": "d9e55966.c5d298",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "fhost0-reorder-ok",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 710,
        "y": 660,
        "wires": []
    },
    {
        "id": "fb3ddf12.036ab",
        "type": "ui_text",
        "z": "81772a63.4aa448",
        "group": "d2c82769.e320e8",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "fhost1_lru_ok",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1340,
        "y": 420,
        "wires": []
    },
    {
        "id": "30f6f1cb.0903ae",
        "type": "ui_text",
        "z": "81772a63.4aa448",
        "group": "d2c82769.e320e8",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "fhost1-network-rx-ok",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1360,
        "y": 460,
        "wires": []
    },
    {
        "id": "b6a92b27.777358",
        "type": "ui_text",
        "z": "81772a63.4aa448",
        "group": "d2c82769.e320e8",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "fhost1-network-tx-ok",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1360,
        "y": 500,
        "wires": []
    },
    {
        "id": "88f37e19.f5b39",
        "type": "ui_text",
        "z": "81772a63.4aa448",
        "group": "60875894.d69348",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "fhost3-network-rx-ok",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1360,
        "y": 760,
        "wires": []
    },
    {
        "id": "c67a19df.4afae8",
        "type": "ui_text",
        "z": "81772a63.4aa448",
        "group": "d2c82769.e320e8",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "fhost1-reorder-ok",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1350,
        "y": 660,
        "wires": []
    },
    {
        "id": "cace9c22.6b53",
        "type": "ui_text",
        "z": "81772a63.4aa448",
        "group": "d6a70612.d5dec8",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "xhost0-lru-ok",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 730,
        "y": 1080,
        "wires": []
    },
    {
        "id": "166bfd2c.2806f3",
        "type": "ui_text",
        "z": "81772a63.4aa448",
        "group": "d2c82769.e320e8",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "fhost1-qdr-ok",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1340,
        "y": 620,
        "wires": []
    },
    {
        "id": "15f24ba6.8acc24",
        "type": "ui_text",
        "z": "81772a63.4aa448",
        "group": "d2c82769.e320e8",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "fhost1-phy-ok",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1340,
        "y": 580,
        "wires": []
    },
    {
        "id": "ab6dfb7.cc71108",
        "type": "ui_text",
        "z": "81772a63.4aa448",
        "group": "d2c82769.e320e8",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "fhost1-pfb-ok",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1340,
        "y": 540,
        "wires": []
    },
    {
        "id": "ae8cc9d4.a8a178",
        "type": "ui_text",
        "z": "81772a63.4aa448",
        "group": "6a5fd610.33ec88",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "xhost1-lru-ok",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 730,
        "y": 1420,
        "wires": []
    },
    {
        "id": "d0c0e39c.bff92",
        "type": "ui_text",
        "z": "81772a63.4aa448",
        "group": "f77d79e5.babaf8",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "xhost3-phy-ok",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1340,
        "y": 1460,
        "wires": []
    },
    {
        "id": "e7bf9e43.8869a",
        "type": "ui_text",
        "z": "81772a63.4aa448",
        "group": "509278fd.70a168",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "xhost2-lru-ok",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1330,
        "y": 1080,
        "wires": []
    },
    {
        "id": "c6b627f3.690fd8",
        "type": "ui_text",
        "z": "81772a63.4aa448",
        "group": "17571187.359bee",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "fhost2-network-tx-ok",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 720,
        "y": 800,
        "wires": []
    },
    {
        "id": "44e8da9c.62b2b4",
        "type": "ui_text",
        "z": "81772a63.4aa448",
        "group": "17571187.359bee",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "fhost2-pfb-ok",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 700,
        "y": 840,
        "wires": []
    },
    {
        "id": "b2d9148b.7c59b8",
        "type": "ui_text",
        "z": "81772a63.4aa448",
        "group": "17571187.359bee",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "fhost2-network-rx-ok",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 720,
        "y": 880,
        "wires": []
    },
    {
        "id": "1883ef30.8292d1",
        "type": "ui_text",
        "z": "81772a63.4aa448",
        "group": "17571187.359bee",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "fhost2-phy-ok",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 700,
        "y": 920,
        "wires": []
    },
    {
        "id": "3617294b.f3c526",
        "type": "ui_text",
        "z": "81772a63.4aa448",
        "group": "17571187.359bee",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "fhost2-qdr-ok",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 700,
        "y": 960,
        "wires": []
    },
    {
        "id": "394047e8.b1bd88",
        "type": "ui_text",
        "z": "81772a63.4aa448",
        "group": "17571187.359bee",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "fhost2-reorder-ok",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 710,
        "y": 1000,
        "wires": []
    },
    {
        "id": "565c5bd4.79cee4",
        "type": "ui_text",
        "z": "81772a63.4aa448",
        "group": "60875894.d69348",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "fhost3-lru-ok",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1330,
        "y": 800,
        "wires": []
    },
    {
        "id": "47ecfbf8.b09584",
        "type": "ui_text",
        "z": "81772a63.4aa448",
        "group": "60875894.d69348",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "fhost3-network-tx-ok",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1360,
        "y": 840,
        "wires": []
    },
    {
        "id": "beeb7610.e3a6a8",
        "type": "ui_text",
        "z": "81772a63.4aa448",
        "group": "60875894.d69348",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "fhost3-pfb-ok",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1340,
        "y": 880,
        "wires": []
    },
    {
        "id": "e216a601.7d4848",
        "type": "ui_text",
        "z": "81772a63.4aa448",
        "group": "60875894.d69348",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "fhost3-phy-ok",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1340,
        "y": 920,
        "wires": []
    },
    {
        "id": "b66230d3.71223",
        "type": "ui_text",
        "z": "81772a63.4aa448",
        "group": "60875894.d69348",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "fhost3-qdr-ok",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1340,
        "y": 960,
        "wires": []
    },
    {
        "id": "9c52f883.4aa568",
        "type": "ui_text",
        "z": "81772a63.4aa448",
        "group": "60875894.d69348",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "fhost3-reorder-ok",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1350,
        "y": 1000,
        "wires": []
    },
    {
        "id": "9946e175.1fbd1",
        "type": "ui_text",
        "z": "81772a63.4aa448",
        "group": "d6a70612.d5dec8",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "xhost0-network-rx-ok",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 760,
        "y": 1120,
        "wires": []
    },
    {
        "id": "ac53b99a.b2b068",
        "type": "ui_text",
        "z": "81772a63.4aa448",
        "group": "d6a70612.d5dec8",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "xhost0-network-tx-ok",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 760,
        "y": 1160,
        "wires": []
    },
    {
        "id": "a3c78317.efac1",
        "type": "ui_text",
        "z": "81772a63.4aa448",
        "group": "d6a70612.d5dec8",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "xhost0-phy-ok",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 740,
        "y": 1200,
        "wires": []
    },
    {
        "id": "cff804d2.381748",
        "type": "ui_text",
        "z": "81772a63.4aa448",
        "group": "d6a70612.d5dec8",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "xhost0-qdr-ok",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 740,
        "y": 1240,
        "wires": []
    },
    {
        "id": "68277d5.8d8a084",
        "type": "ui_text",
        "z": "81772a63.4aa448",
        "group": "d6a70612.d5dec8",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "xhost0-reorder-ok",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 750,
        "y": 1280,
        "wires": []
    },
    {
        "id": "4ad93896.b65588",
        "type": "ui_text",
        "z": "81772a63.4aa448",
        "group": "509278fd.70a168",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "xhost2-network-rx-ok",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1360,
        "y": 1120,
        "wires": []
    },
    {
        "id": "b8defe96.73e66",
        "type": "ui_text",
        "z": "81772a63.4aa448",
        "group": "509278fd.70a168",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "xhost2-network-tx-ok",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1360,
        "y": 1160,
        "wires": []
    },
    {
        "id": "47640c32.2c3284",
        "type": "ui_text",
        "z": "81772a63.4aa448",
        "group": "509278fd.70a168",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "xhost2-phy-ok",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1340,
        "y": 1200,
        "wires": []
    },
    {
        "id": "b5cbc8ac.f61a58",
        "type": "ui_text",
        "z": "81772a63.4aa448",
        "group": "509278fd.70a168",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "xhost2-qdr-ok",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1340,
        "y": 1240,
        "wires": []
    },
    {
        "id": "af37707f.3ae11",
        "type": "ui_text",
        "z": "81772a63.4aa448",
        "group": "509278fd.70a168",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "xhost2-reorder-ok",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1350,
        "y": 1280,
        "wires": []
    },
    {
        "id": "d8e767c8.adf5b8",
        "type": "ui_text",
        "z": "81772a63.4aa448",
        "group": "f77d79e5.babaf8",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "xhost3-lru-ok",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1330,
        "y": 1420,
        "wires": []
    },
    {
        "id": "262df3b1.4281ec",
        "type": "ui_text",
        "z": "81772a63.4aa448",
        "group": "f77d79e5.babaf8",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "xhost3-reorder-ok",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1350,
        "y": 1500,
        "wires": []
    },
    {
        "id": "71b6263c.1014e8",
        "type": "ui_text",
        "z": "81772a63.4aa448",
        "group": "f77d79e5.babaf8",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "xhost3-network-rx-ok",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1360,
        "y": 1540,
        "wires": []
    },
    {
        "id": "14f8f9b4.ac3606",
        "type": "ui_text",
        "z": "81772a63.4aa448",
        "group": "f77d79e5.babaf8",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "xhost3-qdr-ok",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1340,
        "y": 1580,
        "wires": []
    },
    {
        "id": "c0170deb.eec99",
        "type": "ui_text",
        "z": "81772a63.4aa448",
        "group": "f77d79e5.babaf8",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "xhost3-network-tx-ok",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1360,
        "y": 1620,
        "wires": []
    },
    {
        "id": "653d1a39.251a24",
        "type": "ui_text",
        "z": "81772a63.4aa448",
        "group": "6a5fd610.33ec88",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "xhost1-network-rx-ok",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 760,
        "y": 1460,
        "wires": []
    },
    {
        "id": "eabd3250.488e1",
        "type": "ui_text",
        "z": "81772a63.4aa448",
        "group": "6a5fd610.33ec88",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "xhost1-network-tx-ok",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 760,
        "y": 1500,
        "wires": []
    },
    {
        "id": "290d3546.b6f93a",
        "type": "ui_text",
        "z": "81772a63.4aa448",
        "group": "6a5fd610.33ec88",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "xhost1-phy-ok",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 740,
        "y": 1540,
        "wires": []
    },
    {
        "id": "1fc9c0d7.3fe62f",
        "type": "ui_text",
        "z": "81772a63.4aa448",
        "group": "6a5fd610.33ec88",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "xhost1-qdr-ok",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 740,
        "y": 1580,
        "wires": []
    },
    {
        "id": "6d655a82.56e394",
        "type": "ui_text",
        "z": "81772a63.4aa448",
        "group": "6a5fd610.33ec88",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "xhost1-reorder-ok",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 750,
        "y": 1620,
        "wires": []
    },
    {
        "id": "f1c14e75.d9849",
        "type": "mqtt in",
        "z": "16ef74d2.7e23eb",
        "name": "",
        "topic": "CurrentTime",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 110,
        "y": 640,
        "wires": [
            [
                "ca21a1d2.ad365"
            ]
        ]
    },
    {
        "id": "ca21a1d2.ad365",
        "type": "ui_text",
        "z": "16ef74d2.7e23eb",
        "group": "de69c863.1b5a28",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Poll Time",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 680,
        "y": 640,
        "wires": []
    },
    {
        "id": "8b868588.6fef28",
        "type": "function",
        "z": "a549a211.0aca8",
        "name": "",
        "func": "msg = msg.payload[3]\nmsg.payload = msg.size * 1e-6\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 970,
        "y": 980,
        "wires": [
            [
                "e0f63c47.0af4b"
            ]
        ]
    },
    {
        "id": "e0f63c47.0af4b",
        "type": "ui_text",
        "z": "a549a211.0aca8",
        "group": "c8e58398.ffb75",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Hard Disk Total",
        "format": "{{msg.payload}}Gb",
        "layout": "row-left",
        "x": 1140,
        "y": 980,
        "wires": []
    },
    {
        "id": "a52b7a6f.2978d8",
        "type": "inject",
        "z": "16ef74d2.7e23eb",
        "name": "",
        "topic": "",
        "payload": "Reloading",
        "payloadType": "str",
        "repeat": "120",
        "crontab": "",
        "once": false,
        "x": 110,
        "y": 680,
        "wires": [
            [
                "5f79eef5.85aaa",
                "881916fb.4eae88",
                "49f9459c.e78f0c",
                "b6ad9968.a6adc8",
                "bae8ea.a68b2718",
                "1ab9a460.2760bc",
                "2ecc3327.622b1c",
                "2ce79389.08562c",
                "61048242.5c24dc",
                "1848767b.0a21ba",
                "e5ca23e4.252bb",
                "e0aea4c5.ac33a8",
                "f02e051c.c9cd28",
                "f655bf6c.e4bbf",
                "ca21a1d2.ad365"
            ]
        ]
    },
    {
        "id": "7ce2625c.76804c",
        "type": "debug",
        "z": "a549a211.0aca8",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 990,
        "y": 180,
        "wires": []
    },
    {
        "id": "984453c4.d3758",
        "type": "file in",
        "z": "a549a211.0aca8",
        "name": "",
        "filename": "/sys/class/thermal/thermal_zone0/temp",
        "format": "utf8",
        "chunk": false,
        "x": 720,
        "y": 240,
        "wires": [
            [
                "a4642971.95bdb8"
            ]
        ]
    },
    {
        "id": "a4642971.95bdb8",
        "type": "function",
        "z": "a549a211.0aca8",
        "name": "",
        "func": "msg.payload = parseFloat(msg.payload)/1000;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 970,
        "y": 240,
        "wires": [
            [
                "7ce2625c.76804c",
                "daed9eec.8c74b"
            ]
        ]
    },
    {
        "id": "daed9eec.8c74b",
        "type": "ui_gauge",
        "z": "a549a211.0aca8",
        "name": "CPU Temp",
        "group": "5120579c.351588",
        "order": 1,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "CPU Temp",
        "label": "C",
        "format": "{{value | number:2}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "87",
        "x": 1130,
        "y": 240,
        "wires": []
    },
    {
        "id": "e72c5ecc.3533",
        "type": "inject",
        "z": "81772a63.4aa448",
        "name": "",
        "topic": "",
        "payload": "Reloading",
        "payloadType": "str",
        "repeat": "120",
        "crontab": "",
        "once": false,
        "x": 810,
        "y": 280,
        "wires": [
            [
                "9377e2d9.3acfa",
                "f411e89d.9b8838",
                "400003d3.9ac97c",
                "be0bda28.34bac8",
                "ebcab5bc.87ebe8",
                "70f129f.2ff21d8",
                "f2adcb1a.7fefa8",
                "fb3ddf12.036ab",
                "e7bf9e43.8869a",
                "4ad93896.b65588",
                "b8defe96.73e66",
                "47640c32.2c3284",
                "b5cbc8ac.f61a58",
                "af37707f.3ae11",
                "cace9c22.6b53",
                "9946e175.1fbd1",
                "ac53b99a.b2b068",
                "a3c78317.efac1",
                "cff804d2.381748",
                "68277d5.8d8a084",
                "30f6f1cb.0903ae",
                "b6a92b27.777358",
                "ab6dfb7.cc71108",
                "15f24ba6.8acc24",
                "166bfd2c.2806f3",
                "c67a19df.4afae8",
                "6a6533c1.5e82fc",
                "88f37e19.f5b39",
                "c6b627f3.690fd8",
                "44e8da9c.62b2b4",
                "b2d9148b.7c59b8",
                "1883ef30.8292d1",
                "565c5bd4.79cee4",
                "47ecfbf8.b09584",
                "beeb7610.e3a6a8",
                "e216a601.7d4848",
                "b66230d3.71223",
                "9c52f883.4aa568",
                "3617294b.f3c526",
                "394047e8.b1bd88",
                "ae8cc9d4.a8a178",
                "653d1a39.251a24",
                "eabd3250.488e1",
                "290d3546.b6f93a",
                "1fc9c0d7.3fe62f",
                "6d655a82.56e394",
                "d8e767c8.adf5b8",
                "d0c0e39c.bff92",
                "262df3b1.4281ec",
                "71b6263c.1014e8",
                "14f8f9b4.ac3606",
                "c0170deb.eec99"
            ]
        ]
    },
    {
        "id": "43b068cb.8b9cc8",
        "type": "http request",
        "z": "bce71507.b8fa18",
        "name": "BC8N856M4K Activate",
        "method": "POST",
        "ret": "txt",
        "url": "http://mmphego:cdcff24405c489ccac76b8ff0e2e0004@dbelab04.kat.ac.za:8080/view/Instrument%20Activation(Lab)/job/CBF_Activate_BC8N856M4K(lab)/build?delay=0sec",
        "tls": "",
        "x": 940,
        "y": 340,
        "wires": [
            [
                "1f674f8b.5fa39"
            ]
        ]
    },
    {
        "id": "974f4eaf.74271",
        "type": "ui_button",
        "z": "bce71507.b8fa18",
        "name": "",
        "group": "d5de1ae.49a92e8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "BC8N856M4k",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 650,
        "y": 340,
        "wires": [
            [
                "43b068cb.8b9cc8"
            ]
        ]
    },
    {
        "id": "b7587ab6.868518",
        "type": "http request",
        "z": "bce71507.b8fa18",
        "name": "BC8N856M32K Activate",
        "method": "POST",
        "ret": "txt",
        "url": "http://mmphego:cdcff24405c489ccac76b8ff0e2e0004@dbelab04.kat.ac.za:8080/view/Instrument%20Activation(Lab)/job/CBF_Activate_BC8N856M32K(lab)/build?delay=0sec",
        "tls": "",
        "x": 940,
        "y": 380,
        "wires": [
            [
                "d8b4278.526f0d8"
            ]
        ]
    },
    {
        "id": "69b46c4c.154e14",
        "type": "ui_button",
        "z": "bce71507.b8fa18",
        "name": "",
        "group": "d5de1ae.49a92e8",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "BC8N856M32k",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 650,
        "y": 380,
        "wires": [
            [
                "b7587ab6.868518"
            ]
        ]
    },
    {
        "id": "514c7d3d.dec7c4",
        "type": "http request",
        "z": "bce71507.b8fa18",
        "name": "BC8N856M4K Activate",
        "method": "POST",
        "ret": "txt",
        "url": "http://mmphego:cdcff24405c489ccac76b8ff0e2e0004@dbelab04.kat.ac.za:8080/view/Instrument%20Activation(Lab)/job/CBF_Activate_BC8N856M4K(lab)/build?delay=0sec",
        "tls": "",
        "x": 940,
        "y": 480,
        "wires": [
            [
                "942f489a.f50948"
            ]
        ]
    },
    {
        "id": "f629521d.185fc",
        "type": "comment",
        "z": "bce71507.b8fa18",
        "name": "Instrument Activate Lab",
        "info": "",
        "x": 680,
        "y": 300,
        "wires": []
    },
    {
        "id": "d474706a.105e1",
        "type": "comment",
        "z": "bce71507.b8fa18",
        "name": "Instrument Activate Site",
        "info": "",
        "x": 680,
        "y": 440,
        "wires": []
    },
    {
        "id": "355064b5.785b4c",
        "type": "http request",
        "z": "bce71507.b8fa18",
        "name": "BC8N856M4K Activate",
        "method": "POST",
        "ret": "txt",
        "url": "http://mmphego:cdcff24405c489ccac76b8ff0e2e0004@dbelab04.kat.ac.za:8080/view/Instrument%20Activation(Lab)/job/CBF_Activate_BC8N856M32K(site)/build?delay=0sec",
        "tls": "",
        "x": 940,
        "y": 520,
        "wires": [
            [
                "21c6a10f.b1758e"
            ]
        ]
    },
    {
        "id": "5af55ff9.37aef",
        "type": "ui_toast",
        "z": "bce71507.b8fa18",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "",
        "name": "",
        "x": 1400,
        "y": 520,
        "wires": []
    },
    {
        "id": "1f674f8b.5fa39",
        "type": "function",
        "z": "bce71507.b8fa18",
        "name": "",
        "func": "msg.payload = 'Instrument Activate BC8N856M4k'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1140,
        "y": 340,
        "wires": [
            [
                "5af55ff9.37aef"
            ]
        ]
    },
    {
        "id": "d8b4278.526f0d8",
        "type": "function",
        "z": "bce71507.b8fa18",
        "name": "",
        "func": "msg.payload = 'Instrument Activate BC8N856M32k'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1140,
        "y": 380,
        "wires": [
            [
                "5af55ff9.37aef"
            ]
        ]
    },
    {
        "id": "942f489a.f50948",
        "type": "function",
        "z": "bce71507.b8fa18",
        "name": "",
        "func": "msg.payload = 'Instrument Activate BC8N856M4k'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1150,
        "y": 480,
        "wires": [
            [
                "5af55ff9.37aef"
            ]
        ]
    },
    {
        "id": "21c6a10f.b1758e",
        "type": "function",
        "z": "bce71507.b8fa18",
        "name": "",
        "func": "msg.payload = 'Instrument Activate BC8N856M32k'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1150,
        "y": 520,
        "wires": [
            [
                "5af55ff9.37aef"
            ]
        ]
    },
    {
        "id": "ba49c430.84c958",
        "type": "http request",
        "z": "bce71507.b8fa18",
        "name": "BC16N856M4K Activate",
        "method": "POST",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 940,
        "y": 560,
        "wires": [
            [
                "9d6a45ce.5e7228"
            ]
        ]
    },
    {
        "id": "4010fa53.334614",
        "type": "http request",
        "z": "bce71507.b8fa18",
        "name": "BC16N856M4K Activate",
        "method": "POST",
        "ret": "txt",
        "url": "http://",
        "tls": "",
        "x": 940,
        "y": 600,
        "wires": [
            [
                "de4ea4ff.4944b8"
            ]
        ]
    },
    {
        "id": "9d6a45ce.5e7228",
        "type": "function",
        "z": "bce71507.b8fa18",
        "name": "",
        "func": "msg.payload = 'Instrument Activate BC8N856M4k'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1150,
        "y": 560,
        "wires": [
            [
                "5af55ff9.37aef"
            ]
        ]
    },
    {
        "id": "de4ea4ff.4944b8",
        "type": "function",
        "z": "bce71507.b8fa18",
        "name": "",
        "func": "msg.payload = 'Instrument Activate BC8N856M32k'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1150,
        "y": 600,
        "wires": [
            [
                "5af55ff9.37aef"
            ]
        ]
    },
    {
        "id": "ba60fd0f.bc873",
        "type": "http request",
        "z": "bce71507.b8fa18",
        "name": "BC32N856M4K Activate",
        "method": "POST",
        "ret": "txt",
        "url": "http://mmphego:cdcff24405c489ccac76b8ff0e2e0004@dbelab04.kat.ac.za:8080/view/Instrument%20Activation(Lab)/job/CBF_Activate_BC8N856M4K(lab)/build?delay=0sec",
        "tls": "",
        "x": 940,
        "y": 640,
        "wires": [
            [
                "29e087a6.c5bc88"
            ]
        ]
    },
    {
        "id": "54be8f38.2511e",
        "type": "http request",
        "z": "bce71507.b8fa18",
        "name": "BC32N856M4K Activate",
        "method": "POST",
        "ret": "txt",
        "url": "http://mmphego:cdcff24405c489ccac76b8ff0e2e0004@dbelab04.kat.ac.za:8080/view/Instrument%20Activation(Lab)/job/CBF_Activate_BC8N856M32K(site)/build?delay=0sec",
        "tls": "",
        "x": 940,
        "y": 680,
        "wires": [
            [
                "11a07069.91c6b"
            ]
        ]
    },
    {
        "id": "29e087a6.c5bc88",
        "type": "function",
        "z": "bce71507.b8fa18",
        "name": "",
        "func": "msg.payload = 'Instrument Activate BC8N856M4k'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1150,
        "y": 640,
        "wires": [
            [
                "5af55ff9.37aef"
            ]
        ]
    },
    {
        "id": "11a07069.91c6b",
        "type": "function",
        "z": "bce71507.b8fa18",
        "name": "",
        "func": "msg.payload = 'Instrument Activate BC8N856M32k'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1150,
        "y": 680,
        "wires": [
            [
                "5af55ff9.37aef"
            ]
        ]
    },
    {
        "id": "b39b495b.cc0418",
        "type": "mqtt in",
        "z": "993a6adb.6bd208",
        "name": "",
        "topic": "sensor_values/input_labelling/xhost0",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 980,
        "y": 260,
        "wires": [
            [
                "c9e611da.51c0c"
            ]
        ]
    },
    {
        "id": "c9e611da.51c0c",
        "type": "ui_text",
        "z": "993a6adb.6bd208",
        "group": "3e94c1ac.04a72e",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1210,
        "y": 260,
        "wires": []
    },
    {
        "id": "a3be48c5.0790a8",
        "type": "mqtt in",
        "z": "993a6adb.6bd208",
        "name": "",
        "topic": "sensor_values/input_labelling/xhost1",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 980,
        "y": 300,
        "wires": [
            [
                "fa97953e.eb1b38"
            ]
        ]
    },
    {
        "id": "fa97953e.eb1b38",
        "type": "ui_text",
        "z": "993a6adb.6bd208",
        "group": "3e94c1ac.04a72e",
        "order": 10,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1210,
        "y": 300,
        "wires": []
    },
    {
        "id": "bf5a035c.5e4b5",
        "type": "mqtt in",
        "z": "993a6adb.6bd208",
        "name": "",
        "topic": "sensor_values/input_labelling/xhost2",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 980,
        "y": 340,
        "wires": [
            [
                "7634e2ab.617d2c"
            ]
        ]
    },
    {
        "id": "7634e2ab.617d2c",
        "type": "ui_text",
        "z": "993a6adb.6bd208",
        "group": "3e94c1ac.04a72e",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1210,
        "y": 340,
        "wires": []
    },
    {
        "id": "8638e43a.f7b258",
        "type": "mqtt in",
        "z": "993a6adb.6bd208",
        "name": "",
        "topic": "sensor_values/input_labelling/xhost3",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 980,
        "y": 380,
        "wires": [
            [
                "9280807c.85842",
                "bf43be1.cf1b44"
            ]
        ]
    },
    {
        "id": "9280807c.85842",
        "type": "ui_text",
        "z": "993a6adb.6bd208",
        "group": "3e94c1ac.04a72e",
        "order": 12,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1210,
        "y": 380,
        "wires": []
    },
    {
        "id": "edcfb789.f5b868",
        "type": "inject",
        "z": "993a6adb.6bd208",
        "name": "",
        "topic": "",
        "payload": "Reloading",
        "payloadType": "str",
        "repeat": "120",
        "crontab": "",
        "once": false,
        "x": 1050,
        "y": 220,
        "wires": [
            [
                "c9e611da.51c0c",
                "fa97953e.eb1b38",
                "7634e2ab.617d2c",
                "9280807c.85842"
            ]
        ]
    },
    {
        "id": "bf43be1.cf1b44",
        "type": "debug",
        "z": "993a6adb.6bd208",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 1230,
        "y": 420,
        "wires": []
    },
    {
        "id": "b5f975ca.559d58",
        "type": "mqtt in",
        "z": "993a6adb.6bd208",
        "name": "",
        "topic": "sensor_values/input_labelling/fhost0",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 440,
        "y": 260,
        "wires": [
            [
                "fa09ba03.e74488"
            ]
        ]
    },
    {
        "id": "fa09ba03.e74488",
        "type": "ui_text",
        "z": "993a6adb.6bd208",
        "group": "3e94c1ac.04a72e",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 670,
        "y": 260,
        "wires": []
    },
    {
        "id": "7b6ebdb8.11ec84",
        "type": "mqtt in",
        "z": "993a6adb.6bd208",
        "name": "",
        "topic": "sensor_values/input_labelling/fhost1",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 440,
        "y": 300,
        "wires": [
            [
                "145788dd.5aaff7"
            ]
        ]
    },
    {
        "id": "145788dd.5aaff7",
        "type": "ui_text",
        "z": "993a6adb.6bd208",
        "group": "3e94c1ac.04a72e",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 670,
        "y": 300,
        "wires": []
    },
    {
        "id": "49baa561.031c5c",
        "type": "mqtt in",
        "z": "993a6adb.6bd208",
        "name": "",
        "topic": "sensor_values/input_labelling/fhost2",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 440,
        "y": 340,
        "wires": [
            [
                "46adc6d.072fa38"
            ]
        ]
    },
    {
        "id": "46adc6d.072fa38",
        "type": "ui_text",
        "z": "993a6adb.6bd208",
        "group": "3e94c1ac.04a72e",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 670,
        "y": 340,
        "wires": []
    },
    {
        "id": "2618374.804c0c8",
        "type": "mqtt in",
        "z": "993a6adb.6bd208",
        "name": "",
        "topic": "sensor_values/input_labelling/fhost3",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 440,
        "y": 380,
        "wires": [
            [
                "e5cd182c.627258"
            ]
        ]
    },
    {
        "id": "e5cd182c.627258",
        "type": "ui_text",
        "z": "993a6adb.6bd208",
        "group": "3e94c1ac.04a72e",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 670,
        "y": 380,
        "wires": []
    },
    {
        "id": "8a29c73a.b14ee8",
        "type": "mqtt in",
        "z": "993a6adb.6bd208",
        "name": "",
        "topic": "sensor_values/input_labelling/fhost4",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 440,
        "y": 420,
        "wires": [
            [
                "aa2ea80b.3e55d8"
            ]
        ]
    },
    {
        "id": "aa2ea80b.3e55d8",
        "type": "ui_text",
        "z": "993a6adb.6bd208",
        "group": "3e94c1ac.04a72e",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 670,
        "y": 420,
        "wires": []
    },
    {
        "id": "3e6c0641.10b3ca",
        "type": "mqtt in",
        "z": "993a6adb.6bd208",
        "name": "",
        "topic": "sensor_values/input_labelling/fhost5",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 440,
        "y": 460,
        "wires": [
            [
                "a8cadde7.53e4c"
            ]
        ]
    },
    {
        "id": "a8cadde7.53e4c",
        "type": "ui_text",
        "z": "993a6adb.6bd208",
        "group": "3e94c1ac.04a72e",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 670,
        "y": 460,
        "wires": []
    },
    {
        "id": "544f8746.54d038",
        "type": "mqtt in",
        "z": "993a6adb.6bd208",
        "name": "",
        "topic": "sensor_values/input_labelling/fhost6",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 440,
        "y": 500,
        "wires": [
            [
                "472522f8.d9a00c"
            ]
        ]
    },
    {
        "id": "472522f8.d9a00c",
        "type": "ui_text",
        "z": "993a6adb.6bd208",
        "group": "3e94c1ac.04a72e",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 670,
        "y": 500,
        "wires": []
    },
    {
        "id": "1b7ab056.ae053",
        "type": "inject",
        "z": "993a6adb.6bd208",
        "name": "",
        "topic": "",
        "payload": "Reloading",
        "payloadType": "str",
        "repeat": "120",
        "crontab": "",
        "once": false,
        "x": 510,
        "y": 220,
        "wires": [
            [
                "fa09ba03.e74488",
                "145788dd.5aaff7",
                "46adc6d.072fa38",
                "e5cd182c.627258",
                "aa2ea80b.3e55d8",
                "472522f8.d9a00c",
                "a8cadde7.53e4c"
            ]
        ]
    },
    {
        "id": "1fb479d3.039bf6",
        "type": "debug",
        "z": "993a6adb.6bd208",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 750,
        "y": 580,
        "wires": []
    },
    {
        "id": "13b45e67.423e42",
        "type": "mqtt in",
        "z": "993a6adb.6bd208",
        "name": "",
        "topic": "sensor_values/input_labelling/fhost7",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 440,
        "y": 540,
        "wires": [
            [
                "11477c56.4c2794",
                "1fb479d3.039bf6"
            ]
        ]
    },
    {
        "id": "11477c56.4c2794",
        "type": "ui_text",
        "z": "993a6adb.6bd208",
        "group": "3e94c1ac.04a72e",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 670,
        "y": 540,
        "wires": []
    },
    {
        "id": "ad03507a.c243e",
        "type": "mqtt in",
        "z": "bce71507.b8fa18",
        "name": "",
        "topic": "jenkins/job",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 160,
        "y": 360,
        "wires": [
            [
                "37fff0a2.4f9b7"
            ]
        ]
    },
    {
        "id": "37fff0a2.4f9b7",
        "type": "debug",
        "z": "bce71507.b8fa18",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 390,
        "y": 320,
        "wires": []
    },
    {
        "id": "6dc2992.d4fdb68",
        "type": "mqtt in",
        "z": "bce71507.b8fa18",
        "name": "",
        "topic": "jenkins/job_running",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 190,
        "y": 400,
        "wires": [
            [
                "69a3691a.269d08",
                "97aec788.876678"
            ]
        ]
    },
    {
        "id": "6d7f48c2.a43898",
        "type": "mqtt in",
        "z": "bce71507.b8fa18",
        "name": "",
        "topic": "jenkins/last_build",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 180,
        "y": 440,
        "wires": [
            [
                "573c700c.2ab5e",
                "dc9c854c.1b1438"
            ]
        ]
    },
    {
        "id": "69a3691a.269d08",
        "type": "debug",
        "z": "bce71507.b8fa18",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 390,
        "y": 400,
        "wires": []
    },
    {
        "id": "573c700c.2ab5e",
        "type": "debug",
        "z": "bce71507.b8fa18",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 390,
        "y": 480,
        "wires": []
    },
    {
        "id": "97aec788.876678",
        "type": "ui_text",
        "z": "bce71507.b8fa18",
        "group": "d5de1ae.49a92e8",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Job Status:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 390,
        "y": 440,
        "wires": []
    },
    {
        "id": "dc9c854c.1b1438",
        "type": "ui_text",
        "z": "bce71507.b8fa18",
        "group": "d5de1ae.49a92e8",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Job Built:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 380,
        "y": 520,
        "wires": []
    },
    {
        "id": "c19307b6.f84b78",
        "type": "inject",
        "z": "bce71507.b8fa18",
        "name": "",
        "topic": "",
        "payload": "Reloading",
        "payloadType": "str",
        "repeat": "120",
        "crontab": "",
        "once": false,
        "x": 170,
        "y": 320,
        "wires": [
            [
                "97aec788.876678",
                "dc9c854c.1b1438"
            ]
        ]
    },
    {
        "id": "97f1e39e.7abb4",
        "type": "ui_dropdown",
        "z": "bce71507.b8fa18",
        "name": "",
        "label": "Instrument Activate",
        "place": "Which Instrument",
        "group": "d5de1ae.49a92e8",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [
            {
                "label": "BC8N856M4k",
                "value": "1",
                "type": "str"
            },
            {
                "label": "BC8N856M32k",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 650,
        "y": 220,
        "wires": [
            []
        ]
    }
]