flows.json
[
    {
        "id": "16ef74d2.7e23eb",
        "type": "tab",
        "label": "Array Information",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a549a211.0aca8",
        "type": "tab",
        "label": "System",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a0768869.3268d8",
        "type": "subflow",
        "name": "Subflow 1",
        "info": "",
        "in": [],
        "out": []
    },
    {
        "id": "3fb915a5.7ae9ba",
        "type": "mqtt-broker",
        "z": "",
        "broker": "192.168.4.23",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "5120579c.351588",
        "type": "ui_group",
        "z": "",
        "name": "CPU Load",
        "tab": "ec25d94.f8bde28",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "c8e58398.ffb75",
        "type": "ui_group",
        "z": "",
        "name": "HDD & Ram",
        "tab": "ec25d94.f8bde28",
        "order": 3,
        "disp": true,
        "width": "6"
    },
    {
        "id": "9c376fd8.8d5a5",
        "type": "ui_group",
        "z": "",
        "name": "System Information",
        "tab": "ec25d94.f8bde28",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "ec25d94.f8bde28",
        "type": "ui_tab",
        "z": "",
        "name": "CBF System Dashboard",
        "icon": "computer",
        "order": 1
    },
    {
        "id": "6c722873.b80a58",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "Lucida Sans Typewriter,Lucida Console,Monaco,monospace",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "Lucida Sans Typewriter,Lucida Console,Monaco,monospace"
                }
            }
        },
        "site": {
            "name": "CBF Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "b4cb252c.287fb8",
        "type": "ui_tab",
        "z": "",
        "name": "Host Sensors Status",
        "icon": "dashboard",
        "order": 2
    },
    {
        "id": "de69c863.1b5a28",
        "type": "ui_group",
        "z": "",
        "name": "Array Information",
        "tab": "ec25d94.f8bde28",
        "order": 4,
        "disp": true,
        "width": "7"
    },
    {
        "id": "d9e55966.c5d298",
        "type": "ui_group",
        "z": "",
        "name": "F-host0 Sensors Status",
        "tab": "b4cb252c.287fb8",
        "order": 1,
        "disp": true,
        "width": "8"
    },
    {
        "id": "d6a70612.d5dec8",
        "type": "ui_group",
        "z": "",
        "name": "X-Host0 Sensor Status",
        "tab": "b4cb252c.287fb8",
        "order": 5,
        "disp": true,
        "width": "8"
    },
    {
        "id": "d2c82769.e320e8",
        "type": "ui_group",
        "z": "",
        "name": "F-host1 Sensors Status",
        "tab": "b4cb252c.287fb8",
        "order": 2,
        "disp": true,
        "width": "8"
    },
    {
        "id": "17571187.359bee",
        "type": "ui_group",
        "z": "",
        "name": "F-host2 Sensors Status",
        "tab": "b4cb252c.287fb8",
        "order": 3,
        "disp": true,
        "width": "8"
    },
    {
        "id": "15cd2830.fc9ae8",
        "type": "ui_link",
        "z": "",
        "name": "Jenkins",
        "link": "http://dbelab04.kat.ac.za:8080",
        "icon": "open_in_browser",
        "target": "newtab",
        "order": 4
    },
    {
        "id": "9a7d529.a278db",
        "type": "ui_link",
        "z": "",
        "name": "CBF Site Test Reports",
        "link": "http://dbelab04.kat.ac.za/Site_Tests",
        "icon": "open_in_browser",
        "target": "iframe",
        "order": 5
    },
    {
        "id": "60875894.d69348",
        "type": "ui_group",
        "z": "",
        "name": "F-host3 Sensors Status",
        "tab": "b4cb252c.287fb8",
        "order": 4,
        "disp": true,
        "width": "8"
    },
    {
        "id": "6a5fd610.33ec88",
        "type": "ui_group",
        "z": "",
        "name": "X-Host1 Sensor Status",
        "tab": "b4cb252c.287fb8",
        "order": 6,
        "disp": true,
        "width": "8"
    },
    {
        "id": "509278fd.70a168",
        "type": "ui_group",
        "z": "",
        "name": "X-Host2 Sensor Status",
        "tab": "b4cb252c.287fb8",
        "order": 7,
        "disp": true,
        "width": "8"
    },
    {
        "id": "f77d79e5.babaf8",
        "type": "ui_group",
        "z": "",
        "name": "X-Host3 Sensor Status",
        "tab": "b4cb252c.287fb8",
        "order": 8,
        "disp": true,
        "width": "8"
    },
    {
        "id": "d5de1ae.49a92e8",
        "type": "ui_group",
        "z": "",
        "name": "Instrument Activate (Lab)",
        "tab": "ec25d94.f8bde28",
        "order": 5,
        "disp": true,
        "width": "6"
    },
    {
        "id": "3e94c1ac.04a72e",
        "type": "ui_group",
        "z": "",
        "name": "Input Labels/Maps",
        "tab": "ec25d94.f8bde28",
        "order": 6,
        "disp": true,
        "width": "6"
    },
    {
        "id": "5eedd3e.d56eb2c",
        "type": "ui_link",
        "z": "",
        "name": "Sensors Dash",
        "link": "localhost:8888",
        "icon": "open_in_browser",
        "target": "iframe",
        "order": 3
    },
    {
        "id": "192d5f6b.c10771",
        "type": "OS",
        "z": "a549a211.0aca8",
        "name": "",
        "x": 790,
        "y": 540,
        "wires": [
            [
                "31642c3c.0f3c64",
                "5125718b.531ab",
                "4ba67222.666aac",
                "b4662f50.1345e"
            ]
        ]
    },
    {
        "id": "9e352967.6532b8",
        "type": "Uptime",
        "z": "a549a211.0aca8",
        "name": "",
        "x": 801,
        "y": 495,
        "wires": [
            [
                "30d7fe80.5ed9e2"
            ]
        ]
    },
    {
        "id": "b3d1419a.edfe9",
        "type": "CPUs",
        "z": "a549a211.0aca8",
        "name": "",
        "x": 790,
        "y": 585,
        "wires": [
            [
                "49d73ce9.0b0874",
                "12404842.c70a78"
            ]
        ]
    },
    {
        "id": "36bb47ba.f3f068",
        "type": "Loadavg",
        "z": "a549a211.0aca8",
        "name": "",
        "x": 800,
        "y": 340,
        "wires": [
            [
                "35183a06.d03ae6",
                "2533f369.0fe96c",
                "b1a8897b.dc8ec8",
                "de9602d.b6379"
            ]
        ]
    },
    {
        "id": "a8294fd5.542da",
        "type": "Memory",
        "z": "a549a211.0aca8",
        "name": "",
        "x": 800,
        "y": 760,
        "wires": [
            [
                "4a589916.e4c8d8",
                "b39e6023.fdcfe",
                "d92e604f.797dc",
                "2882feaf.75cb62"
            ]
        ]
    },
    {
        "id": "d87e64de.d29898",
        "type": "inject",
        "z": "a549a211.0aca8",
        "name": "update",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "30",
        "crontab": "",
        "once": true,
        "x": 594,
        "y": 445,
        "wires": [
            [
                "192d5f6b.c10771",
                "9e352967.6532b8",
                "b3d1419a.edfe9",
                "36bb47ba.f3f068",
                "a8294fd5.542da",
                "e942612b.6c8d2",
                "984453c4.d3758"
            ]
        ]
    },
    {
        "id": "35183a06.d03ae6",
        "type": "function",
        "z": "a549a211.0aca8",
        "name": "",
        "func": "msg.payload = msg.payload.loadavg[0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 970,
        "y": 280,
        "wires": [
            [
                "bde15ee0.4b38d"
            ]
        ]
    },
    {
        "id": "2533f369.0fe96c",
        "type": "function",
        "z": "a549a211.0aca8",
        "name": "",
        "func": "msg.payload = msg.payload.loadavg[1];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 970,
        "y": 320,
        "wires": [
            [
                "ea3b844b.d73468"
            ]
        ]
    },
    {
        "id": "b1a8897b.dc8ec8",
        "type": "function",
        "z": "a549a211.0aca8",
        "name": "",
        "func": "msg.payload = msg.payload.loadavg[2];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 970,
        "y": 360,
        "wires": [
            [
                "adacdb01.5cc0c8"
            ]
        ]
    },
    {
        "id": "bde15ee0.4b38d",
        "type": "ui_gauge",
        "z": "a549a211.0aca8",
        "name": "CPU Load 1",
        "group": "5120579c.351588",
        "order": 2,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "1 Minute",
        "label": "load",
        "format": "{{value | number:2}}",
        "min": 0,
        "max": "4",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "x": 1130,
        "y": 279,
        "wires": []
    },
    {
        "id": "ea3b844b.d73468",
        "type": "ui_gauge",
        "z": "a549a211.0aca8",
        "name": "CPU Load 2",
        "group": "5120579c.351588",
        "order": 3,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "5 Minutes",
        "label": "load",
        "format": "{{value | number:2}}",
        "min": 0,
        "max": "4",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "x": 1130,
        "y": 320,
        "wires": []
    },
    {
        "id": "adacdb01.5cc0c8",
        "type": "ui_gauge",
        "z": "a549a211.0aca8",
        "name": "CPU Load 3",
        "group": "5120579c.351588",
        "order": 4,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "15 Minutes",
        "label": "load",
        "format": "{{value | number:2}}",
        "min": 0,
        "max": "4",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "x": 1128,
        "y": 362,
        "wires": []
    },
    {
        "id": "4a589916.e4c8d8",
        "type": "function",
        "z": "a549a211.0aca8",
        "name": "",
        "func": "msg.payload = msg.payload.memusage;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 970,
        "y": 800,
        "wires": [
            [
                "4d95f4d.cab6e0c"
            ]
        ]
    },
    {
        "id": "4d95f4d.cab6e0c",
        "type": "ui_gauge",
        "z": "a549a211.0aca8",
        "name": "Memory Usage",
        "group": "c8e58398.ffb75",
        "order": 1,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "1 Minute",
        "label": "Usage",
        "format": "{{value | number:2}} %",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1140,
        "y": 820,
        "wires": []
    },
    {
        "id": "b39e6023.fdcfe",
        "type": "function",
        "z": "a549a211.0aca8",
        "name": "",
        "func": "function formatBytes(bytes,decimals) {\n   if(bytes === 0) return '0 Byte';\n   var k = 1000; // or 1024 for binary\n   var dm = decimals + 1 || 3;\n   var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];\n   var i = Math.floor(Math.log(bytes) / Math.log(k));\n   return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];\n}\n\nmsg.payload = formatBytes(msg.payload.totalmem);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 972,
        "y": 843,
        "wires": [
            [
                "5f7a7485.c920ac"
            ]
        ]
    },
    {
        "id": "d92e604f.797dc",
        "type": "function",
        "z": "a549a211.0aca8",
        "name": "",
        "func": "function formatBytes(bytes,decimals) {\n   if(bytes === 0) return '0 Byte';\n   var k = 1000; // or 1024 for binary\n   var dm = decimals + 1 || 3;\n   var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];\n   var i = Math.floor(Math.log(bytes) / Math.log(k));\n   return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];\n}\n\nmsg.payload = formatBytes(msg.payload.freemem);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 970,
        "y": 889,
        "wires": [
            [
                "4a07ad77.cb66d4"
            ]
        ]
    },
    {
        "id": "5f7a7485.c920ac",
        "type": "ui_text",
        "z": "a549a211.0aca8",
        "group": "c8e58398.ffb75",
        "order": 2,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Total Memory",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1140,
        "y": 860,
        "wires": []
    },
    {
        "id": "4a07ad77.cb66d4",
        "type": "ui_text",
        "z": "a549a211.0aca8",
        "group": "c8e58398.ffb75",
        "order": 3,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Free Memory",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1140,
        "y": 900,
        "wires": []
    },
    {
        "id": "30d7fe80.5ed9e2",
        "type": "function",
        "z": "a549a211.0aca8",
        "name": "",
        "func": "function timeConversion(millisec) {\n\n    var seconds = (millisec / 1000).toFixed(1);\n\n    var minutes = (millisec / (1000 * 60)).toFixed(1);\n\n    var hours = (millisec / (1000 * 60 * 60)).toFixed(1);\n\n    var days = (millisec / (1000 * 60 * 60 * 24)).toFixed(1);\n\n    if (seconds < 60) {\n        return seconds + \" Sec\";\n    } else if (minutes < 60) {\n        return minutes + \" Min\";\n    } else if (hours < 24) {\n        return hours + \" Hrs\";\n    } else {\n        return days + \" Days\"\n    }\n}\n\nmsg.payload = timeConversion(msg.payload.uptime * 1000);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 962,
        "y": 495,
        "wires": [
            [
                "8209d2c5.d1583"
            ]
        ]
    },
    {
        "id": "8209d2c5.d1583",
        "type": "ui_text",
        "z": "a549a211.0aca8",
        "group": "9c376fd8.8d5a5",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Uptime",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1120,
        "y": 500,
        "wires": []
    },
    {
        "id": "31642c3c.0f3c64",
        "type": "function",
        "z": "a549a211.0aca8",
        "name": "",
        "func": "msg.payload = msg.payload.hostname;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 961,
        "y": 532,
        "wires": [
            [
                "ba29d11c.a8fc4"
            ]
        ]
    },
    {
        "id": "ba29d11c.a8fc4",
        "type": "ui_text",
        "z": "a549a211.0aca8",
        "group": "9c376fd8.8d5a5",
        "order": 2,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Hostname",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1130,
        "y": 540,
        "wires": []
    },
    {
        "id": "5125718b.531ab",
        "type": "function",
        "z": "a549a211.0aca8",
        "name": "",
        "func": "msg.payload = msg.payload.platform;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 963,
        "y": 570,
        "wires": [
            [
                "90626e11.f4aec"
            ]
        ]
    },
    {
        "id": "90626e11.f4aec",
        "type": "ui_text",
        "z": "a549a211.0aca8",
        "group": "9c376fd8.8d5a5",
        "order": 3,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Platform",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1120,
        "y": 580,
        "wires": []
    },
    {
        "id": "4ba67222.666aac",
        "type": "function",
        "z": "a549a211.0aca8",
        "name": "",
        "func": "msg.payload = msg.payload.arch;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 964,
        "y": 609,
        "wires": [
            [
                "d9563d08.2337a"
            ]
        ]
    },
    {
        "id": "d9563d08.2337a",
        "type": "ui_text",
        "z": "a549a211.0aca8",
        "group": "9c376fd8.8d5a5",
        "order": 4,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Arch",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1110,
        "y": 620,
        "wires": []
    },
    {
        "id": "b4662f50.1345e",
        "type": "function",
        "z": "a549a211.0aca8",
        "name": "",
        "func": "msg.payload = msg.payload.release;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 965,
        "y": 645,
        "wires": [
            [
                "6eb3c992.664168"
            ]
        ]
    },
    {
        "id": "6eb3c992.664168",
        "type": "ui_text",
        "z": "a549a211.0aca8",
        "group": "9c376fd8.8d5a5",
        "order": 5,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Release",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1120,
        "y": 660,
        "wires": []
    },
    {
        "id": "49d73ce9.0b0874",
        "type": "function",
        "z": "a549a211.0aca8",
        "name": "",
        "func": "msg.payload = msg.payload.cpus[0].model;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 964,
        "y": 686,
        "wires": [
            [
                "3240f62a.d1fa6a"
            ]
        ]
    },
    {
        "id": "3240f62a.d1fa6a",
        "type": "ui_text",
        "z": "a549a211.0aca8",
        "group": "9c376fd8.8d5a5",
        "order": 6,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "CPU ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1110,
        "y": 700,
        "wires": []
    },
    {
        "id": "de9602d.b6379",
        "type": "function",
        "z": "a549a211.0aca8",
        "name": "",
        "func": "msg.payload = msg.payload.loadavg[0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 970,
        "y": 400,
        "wires": [
            [
                "e2d1a671.26dd68"
            ]
        ]
    },
    {
        "id": "e2d1a671.26dd68",
        "type": "ui_chart",
        "z": "a549a211.0aca8",
        "name": "CPU Load - Historical",
        "group": "5120579c.351588",
        "order": 5,
        "width": "0",
        "height": "0",
        "label": "12 Hours",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": "",
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "x": 1159,
        "y": 404,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "2882feaf.75cb62",
        "type": "function",
        "z": "a549a211.0aca8",
        "name": "",
        "func": "msg.payload = msg.payload.memusage;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 967,
        "y": 761,
        "wires": [
            [
                "3cbe8754.4fec18"
            ]
        ]
    },
    {
        "id": "3cbe8754.4fec18",
        "type": "ui_chart",
        "z": "a549a211.0aca8",
        "name": "Memory - 24 Hours",
        "group": "c8e58398.ffb75",
        "order": 4,
        "width": "0",
        "height": "0",
        "label": "12 Hours",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": "",
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "x": 1130,
        "y": 780,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "1aa175fc.2e5b9a",
        "type": "comment",
        "z": "a549a211.0aca8",
        "name": "CPU Load",
        "info": "",
        "x": 960,
        "y": 140,
        "wires": []
    },
    {
        "id": "1fe46115.81b6bf",
        "type": "comment",
        "z": "a549a211.0aca8",
        "name": "Memory Usage",
        "info": "",
        "x": 1140,
        "y": 740,
        "wires": []
    },
    {
        "id": "c7e68b7f.759738",
        "type": "comment",
        "z": "a549a211.0aca8",
        "name": "System Information",
        "info": "",
        "x": 1143,
        "y": 444,
        "wires": []
    },
    {
        "id": "12404842.c70a78",
        "type": "debug",
        "z": "a549a211.0aca8",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 810,
        "y": 640,
        "wires": []
    },
    {
        "id": "e942612b.6c8d2",
        "type": "Drives",
        "z": "a549a211.0aca8",
        "name": "",
        "x": 790,
        "y": 940,
        "wires": [
            [
                "4f4aa567.7d08ac",
                "8b868588.6fef28"
            ]
        ]
    },
    {
        "id": "4f4aa567.7d08ac",
        "type": "function",
        "z": "a549a211.0aca8",
        "name": "",
        "func": "msg = msg.payload[3]\nmsg.payload = msg.capacity * 100\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 970,
        "y": 940,
        "wires": [
            [
                "f041c2b9.e67fd"
            ]
        ]
    },
    {
        "id": "f041c2b9.e67fd",
        "type": "ui_gauge",
        "z": "a549a211.0aca8",
        "name": "Harddisk Usage",
        "group": "c8e58398.ffb75",
        "order": 5,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "Rootfs",
        "label": "Hard Disk Usage",
        "format": "{{value}} %",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1140,
        "y": 940,
        "wires": []
    },
    {
        "id": "d1120a37.c2b1f8",
        "type": "mqtt in",
        "z": "16ef74d2.7e23eb",
        "name": "",
        "topic": "sensor_values/instrument_state",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 170,
        "y": 120,
        "wires": [
            [
                "881916fb.4eae88"
            ]
        ]
    },
    {
        "id": "30d306c3.12cf8a",
        "type": "mqtt in",
        "z": "16ef74d2.7e23eb",
        "name": "",
        "topic": "sensor_values/n_xeng_hosts",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 160,
        "y": 160,
        "wires": [
            [
                "b6ad9968.a6adc8"
            ]
        ]
    },
    {
        "id": "f95c2eeb.de18a",
        "type": "mqtt in",
        "z": "16ef74d2.7e23eb",
        "name": "",
        "topic": "sensor_values/baseline_correlation_products_n_chans",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 240,
        "y": 280,
        "wires": [
            [
                "2ecc3327.622b1c"
            ]
        ]
    },
    {
        "id": "7b11bfe7.343aa",
        "type": "mqtt in",
        "z": "16ef74d2.7e23eb",
        "name": "",
        "topic": "sensor_values/baseline_correlation_products_destination",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 250,
        "y": 240,
        "wires": [
            [
                "2ce79389.08562c"
            ]
        ]
    },
    {
        "id": "e9c0b299.824e6",
        "type": "mqtt in",
        "z": "16ef74d2.7e23eb",
        "name": "",
        "topic": "sensor_values/sensor_array_port",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 180,
        "y": 360,
        "wires": [
            [
                "3587d16a.13bf8e"
            ]
        ]
    },
    {
        "id": "881916fb.4eae88",
        "type": "ui_text",
        "z": "16ef74d2.7e23eb",
        "group": "de69c863.1b5a28",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Running Instrument",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 700,
        "y": 120,
        "wires": []
    },
    {
        "id": "b6ad9968.a6adc8",
        "type": "ui_text",
        "z": "16ef74d2.7e23eb",
        "group": "de69c863.1b5a28",
        "order": 10,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "N. Xeng Hosts",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 680,
        "y": 160,
        "wires": []
    },
    {
        "id": "2ecc3327.622b1c",
        "type": "ui_text",
        "z": "16ef74d2.7e23eb",
        "group": "de69c863.1b5a28",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "N. Channels",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 670,
        "y": 280,
        "wires": []
    },
    {
        "id": "2ce79389.08562c",
        "type": "ui_text",
        "z": "16ef74d2.7e23eb",
        "group": "de69c863.1b5a28",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "X Engine Data Destination",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 720,
        "y": 240,
        "wires": []
    },
    {
        "id": "2eed8085.9a99f",
        "type": "mqtt in",
        "z": "16ef74d2.7e23eb",
        "name": "",
        "topic": "sensor_values/n_feng_hosts",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 160,
        "y": 200,
        "wires": [
            [
                "e5ca23e4.252bb"
            ]
        ]
    },
    {
        "id": "e5ca23e4.252bb",
        "type": "ui_text",
        "z": "16ef74d2.7e23eb",
        "group": "de69c863.1b5a28",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "N. Feng Hosts",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 680,
        "y": 200,
        "wires": []
    },
    {
        "id": "14299488.8dbb3b",
        "type": "mqtt in",
        "z": "16ef74d2.7e23eb",
        "name": "",
        "topic": "instrument/katcp_ip",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 130,
        "y": 440,
        "wires": [
            [
                "f655bf6c.e4bbf"
            ]
        ]
    },
    {
        "id": "f655bf6c.e4bbf",
        "type": "ui_text",
        "z": "16ef74d2.7e23eb",
        "group": "de69c863.1b5a28",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Host IP",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 660,
        "y": 440,
        "wires": []
    },
    {
        "id": "c2d42405.011ba8",
        "type": "mqtt in",
        "z": "16ef74d2.7e23eb",
        "name": "",
        "topic": "instrument/array_port",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 140,
        "y": 320,
        "wires": [
            [
                "e0aea4c5.ac33a8"
            ]
        ]
    },
    {
        "id": "e0aea4c5.ac33a8",
        "type": "ui_text",
        "z": "16ef74d2.7e23eb",
        "group": "de69c863.1b5a28",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Array Port",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 670,
        "y": 320,
        "wires": []
    },
    {
        "id": "94eb2021.851fa",
        "type": "mqtt in",
        "z": "16ef74d2.7e23eb",
        "name": "",
        "topic": "instrument/array_name",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 140,
        "y": 400,
        "wires": [
            [
                "f02e051c.c9cd28"
            ]
        ]
    },
    {
        "id": "f02e051c.c9cd28",
        "type": "ui_text",
        "z": "16ef74d2.7e23eb",
        "group": "de69c863.1b5a28",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Array Name",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 670,
        "y": 400,
        "wires": []
    },
    {
        "id": "f1c14e75.d9849",
        "type": "mqtt in",
        "z": "16ef74d2.7e23eb",
        "name": "",
        "topic": "CurrentTime",
        "qos": "0",
        "broker": "3fb915a5.7ae9ba",
        "x": 110,
        "y": 480,
        "wires": [
            [
                "ca21a1d2.ad365"
            ]
        ]
    },
    {
        "id": "ca21a1d2.ad365",
        "type": "ui_text",
        "z": "16ef74d2.7e23eb",
        "group": "de69c863.1b5a28",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Poll Time",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 660,
        "y": 480,
        "wires": []
    },
    {
        "id": "8b868588.6fef28",
        "type": "function",
        "z": "a549a211.0aca8",
        "name": "",
        "func": "msg = msg.payload[3]\nmsg.payload = msg.size * 1e-6\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 970,
        "y": 980,
        "wires": [
            [
                "e0f63c47.0af4b"
            ]
        ]
    },
    {
        "id": "e0f63c47.0af4b",
        "type": "ui_text",
        "z": "a549a211.0aca8",
        "group": "c8e58398.ffb75",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Hard Disk Total",
        "format": "{{msg.payload}}Gb",
        "layout": "row-left",
        "x": 1140,
        "y": 980,
        "wires": []
    },
    {
        "id": "a52b7a6f.2978d8",
        "type": "inject",
        "z": "16ef74d2.7e23eb",
        "name": "",
        "topic": "",
        "payload": "Reloading",
        "payloadType": "str",
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 390,
        "y": 520,
        "wires": [
            [
                "881916fb.4eae88",
                "b6ad9968.a6adc8",
                "2ecc3327.622b1c",
                "2ce79389.08562c",
                "e5ca23e4.252bb",
                "e0aea4c5.ac33a8",
                "f02e051c.c9cd28",
                "f655bf6c.e4bbf",
                "ca21a1d2.ad365",
                "3587d16a.13bf8e"
            ]
        ]
    },
    {
        "id": "7ce2625c.76804c",
        "type": "debug",
        "z": "a549a211.0aca8",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 990,
        "y": 180,
        "wires": []
    },
    {
        "id": "984453c4.d3758",
        "type": "file in",
        "z": "a549a211.0aca8",
        "name": "",
        "filename": "/sys/class/thermal/thermal_zone0/temp",
        "format": "utf8",
        "chunk": false,
        "x": 720,
        "y": 240,
        "wires": [
            [
                "a4642971.95bdb8"
            ]
        ]
    },
    {
        "id": "a4642971.95bdb8",
        "type": "function",
        "z": "a549a211.0aca8",
        "name": "",
        "func": "msg.payload = parseFloat(msg.payload)/1000;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 970,
        "y": 240,
        "wires": [
            [
                "7ce2625c.76804c",
                "daed9eec.8c74b"
            ]
        ]
    },
    {
        "id": "daed9eec.8c74b",
        "type": "ui_gauge",
        "z": "a549a211.0aca8",
        "name": "CPU Temp",
        "group": "5120579c.351588",
        "order": 1,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "CPU Temp",
        "label": "°C",
        "format": "{{value | number:2}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "87",
        "x": 1130,
        "y": 240,
        "wires": []
    },
    {
        "id": "3587d16a.13bf8e",
        "type": "ui_text",
        "z": "16ef74d2.7e23eb",
        "group": "de69c863.1b5a28",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sensor Port",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 670,
        "y": 360,
        "wires": []
    }
]
